<p>
    <img style="max-height: 70px;" src="{{ absolute_url('/logo.png') }}" alt="Logo Paque">
</p>
{# templates/emails/registration.html.twig #}
<h3>Bonjour {{ receiver.getName()}}</h3>

Vous avez recu un message de la part de <strong>{{ author.getName() }}</strong> sur : <strong>{{ ads.getName() }}</strong><br/>
<p>
    Merci de bien vouloir en prendre connaissance à cette adresse <a href="{{ host }}{{ path('contract.message', { 'idUser': receiver.getId(), 'token': token, 'opener':receiver.getId() }) }}">{{ host }}{{ path('contract.message', { 'idUser': receiver.getId(), 'token': token, 'opener':receiver.getId() }) }}</a>
</p>
L'équipe Pâque!
