<p>
    <img style="max-height: 70px;" src="{{ absolute_url('/logo.png') }}" alt="Logo Paque">
</p>
{# templates/emails/registration.html.twig #}
<h3>Bonjour {{ user1.getName()}}</h3>

Vous avez recu une proposition de contrat de la part de <strong>{{ user2.getName() }}</strong> pour l'objectif suivant : <strong>{{ objectif.getName() }}</strong><br/>

{# example, assuming you have a route named "login" #}
<p>
    Merci de bien vouloir le consulter ici <a href="{{ host }}{{ path('contract.edition.mentore', { 'idUser':user2.getId(), 'idContract': contract.getId() }) }}" target="_blank">{{ host }}{{ path('contract.edition.mentore', { 'idUser':user2.getId(), 'idContract': contract.getId() }) }}</a>
</p>
L'équipe Pâque!
