{% extends 'base.html.twig' %}

{% block title %}Home Profil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ absolute_url('/homepage-child/css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <section id="fa-hero" class="white-text pt-5 bgcolor-container" {# class="parallax-window" #} style="padding-bottom: 5rem !important;" {# data-parallax="scroll" data-image-src="https://s3-eu-west-1.amazonaws.com/www.fluksaqua.com/wordpress/attachments/bg_cover-mini.png"#}>
        <div class="container">
            <div class="justify-content">
                <div class="row">
                    <div class="col-sm-3 col-lg-3 text-capitalize position-relative">
                        <img height="150px" class="placeholder img-responsive" src="{{ asset(displayImage(user)) }}" style="border-radius: 50%;">
                        <div class="position-absolute" style="bottom: 0;left:70px;">
                            {#
                            {% include 'account/sections/modal-upload.html.twig' with {
                                'user': user,
                                'section': section,
                                'formPhoto': formPhoto,
                            } %}
                            #}
                        </div>
                    </div>
                    <div class="col-sm-9 col-lg-9 text-capitalize ">
                        <h3>{{ user.name }}</h3>
                        <p>{{ displayStars(user) }}</p>
                        <p>{{ displayLocalisation(user) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container pt-5">
        {% include 'common/flash-messages.html.twig' %}

        <div class="row">
            <div class="col-xs-6 col-sm-9">

            </div>

            <!--/col-3-->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div class="tab-pane fade show active pb-2" id="nav-homex" role="tabpanel" aria-labelledby="nav-home-tab">
                    <!--left col-->
                    <ul class="list-group pb-3">
                        <li class="list-group-item text-left bg-primary text-white"><span class="pull-left"><strong>Changer de profil</strong></span></li>
                        <li class="list-group-item text-left {{ profile == 'mentore' ? 'activeProfile' }}">
                                <span class="pull-left">
                                    <a href="/?profile=mentore" title="Profil mentoré">
                                        <i class="fa fa-address-card fa-1x"></i> Profil mentoré
                                    </a>
                                </span>
                        </li>
                        <li class="list-group-item text-left {{ profile == 'mentor' ? 'activeProfile' }}">
                                <span class="pull-left">
                                    <a href="/?profile=mentor" title="Profil mentor">
                                        <i class="fa fa-user-circle fa-1x"></i> Profil mentor
                                    </a>
                                </span>
                        </li>
                    </ul>
                </div>

                <div class="list-group pb-5">
                    <ul class="list-group">
                        <li class="list-group-item text-left list-group-item bg-primary text-white"><span class="pull-left"><strong>Donner un avis</strong></span></li>
                        <li class="list-group-item text-center">
                            <a class="" data-toggle="modal" data-target="#modalVote" href="javascript:void(0);">
                                <i class="fa fa-pen fa-2x"></i>
                            </a>
                            {#
                            {% include 'partials/profil/modal-vote.html.twig' with {'user': user , 'section':section} %}
                            #}
                        </li>
                    </ul>
                </div>
            </div>



            <!--/tab-content-->
        </div>
        <!--/col-9-->
    </div>

{#
<section id="fa-member_profile" class="pb-5 pt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 px-0">
                <div class="card p-2">
                    <div class="row mx-0">
                        <div class="row mx-0 w-100">
                            <div class="col-sm-12 col-md-12 col-lg-12 px-0">
                                <div class="row mx-0 score-row">
                                    <div class="col-sm-12 col-md-12 px-0">
                                        <div class="card-body text-center py-5">
                                            <div class="score-item mb-1 text-justify">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center align-items-center my-4 mx-0">
                                    <ul class="nav nav-pills nav-justified w-100">
                                        <li class="nav-item">
                                            <a class="nav-link  {{ profile == 'mentore' ? 'active' }}" href="{{ path('profile.edition.home', { 'profile' : 'mentore' }) }}" style="padding: 20px;">Profil Mentoré</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link  {{ profile == 'mentor' ? 'active' }}" href="{{ path('profile.edition.home', { 'profile' : 'mentor' }) }}" style="padding: 20px;">Profil Mentor</a>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-pills nav-justified w-100 pt-2">
                                        <li class="nav-item">

                                            {% if profile == 'mentore' %}
                                                <i class="fas fa-edit btn btn-blue" data-toggle="modal" data-target="#wishesModal" style="cursor: pointer;" title="Modifier"></i>
                                                {% for wish in user.getWishes().getValues() %}
                                                    <div class="card m-2">
                                                        <div class="card-body">
                                                            <h5 class="card-title text-muted">{{ wish.getName() }} </h5>

                                                                <p class="card-text"> {{ wish.getDescription() }} </p>
                                                            </div>
                                                        </div>
                                                    {% endfor %}

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="wishesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                                                        <div class="modal-dialog modal-lg" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title text-dark" id="exampleModalLabel">MODIFIER VOTRE LISTE DE SOUHAITS</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div id="formWishes">
                                                                        {{ form_start(formWishes) }}
                                                                        <div class="panel panel-primary">
                                                                            <div class="my-custom-class-for-errors">
                                                                                {{ form_errors(formUser) }}
                                                                            </div>
                                                                            <div class="form-group row">
                                                                                <div class="col">
                                                                                    {{form_row(formWishes)}}
                                                                                </div>
                                                                                <ul>
                                                                                    {% for emailField in formWishes %}
                                                                                        <li>
                                                                                            {{ form_errors(emailField) }}
                                                                                            <div class="form-group row">
                                                                                                {{ form_widget(emailField) }}
                                                                                            </div>
                                                                                        </li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            </div>
                                                                            <div class="form-group text-center row m-t-20">
                                                                                <div class="col-12">
                                                                                    <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Mettre à jour</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        {{ form_end(formWishes) }}
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">FERMER</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if profile == 'mentor' %}
                                                    <i class="fas fa-edit btn btn-blue" data-toggle="modal" data-target="#wishesModal" style="cursor: pointer;" title="Modifier"></i>
                                                    <div class="card m-2">
                                                        <div class="card-body">
                                                            <h5 class="card-title text-muted">Plombier expérimenté</h5>
                                                            <h6 class="card-subtitle mb-2 text-muted">Plus de 10 années d'expérience</h6>
                                                            <p class="card-text text-justify">
                                                                {{ "Plombier chauffagiste professionnel, avec plus de 15 années d'expérience, j'interviens très rapidement sur l'ensemble de vos problèmes de plomberie et chauffage (neuf ou rénovation).

                                                                Intervention RAPIDE et travail soigné.
                                                                Dynamique, efficace et toujours à l'écoute, n'hésitez pas à me contacter
                                                                - J'interviens pour tout dépannage et maintenance plomberie sanitaire (fuite, tuyau, wc bouché...)
                                                                - Pour la réalisation d'installations de plomberie et de chauffage.
                                                                - Réparation ou remplacement de ballon d'eau chaude, chauffe-eau électrique, tuyauterie bouchée, fuites...
                                                                - Installation de filtres anti-calcaire ou adoucisseurs d'eau...
                                                                - Soudure cuivre, acier, laiton..."|nl2br }}
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div class="card m-2">
                                                        <div class="card-body">
                                                            <h5 class="card-title text-muted">Paniste expérimenté</h5>
                                                            <h6 class="card-subtitle mb-2 text-muted">5 années d'expérience</h6>
                                                            <p class="card-text">
                                                                {{ "Des cours de piano particuliers ou à plusieurs sous forme de masterclass afin d’approfondir votre technique instrumentale.

                                                                Répertoire : Pop, Musique de films, Pop, Jazz, R’n’B, Hip-Hop, Reggae, Funk.
                                                                Le programme est réalisé en fonction de vos objectifs. Différentes matières vous sont proposées :
                                                                - Jouer un morceau complet.
                                                                - Etude et accompagnement du style musical abordé
                                                                - Technique de l’instrument
                                                                - Harmonie (études des accords, des gammes et des modes)
                                                                - Composition, arrangement
                                                                - Improvisation libre ou structurée

                                                                Pianiste professionnel et professeur de piano depuis 2007. Premier prix du conservatoire (CRR) d’Annecy et de Chambéry en Jazz et diplômé du Centre des Musiques Didier Lockwood (meilleur école de jazz en France) mention très bien. J’ai étudié auprès de grands noms du jazz : Didier Lockwood, Benoit Sourisse, Bojan Z, Pierre de Bethmann, Baptiste Trotignon, Pierre Drevet, Pierre Perchaud, Stéphane Guillaume, Linley Marthe, Vince Mendoza (Björk), Mike Stern, Louis Winsberg, Mike Moreno, Aaron Goldberg…
                                                                J’ai étudié le piano classique auprès de Gisèle Magnan anciennement professeur au CNSM de Paris, et Karen Daniau.

                                                                Les divers artistes avec qui j’ai eu la chance de collaborer : Les Coquettes (spectacle d’humour), Natalia Doco (chanson argentine), Seemone (finaliste pour le concours de l’Eurovision), Anthony Jambon Group (jazz), Baptiste Herbin, Benjamin Henocq, Hollydays (pop electro), Dam’n’co, Eva Slongo (violon jazz), Patxi Garat, Yseult. Mon parcours est éclectique : jazz, pop, soul, funk, gospel, spectacle d’humour, chansons latines, variété. Connaissant bien les rouages de styles musicaux divers, je me consacre à la transmission de ce savoir faire.

                                                                Après 4 années de tendinites chroniques et ne pouvant pas exercer mon métier librement, j’ai dû trouver des solutions par un travail de rééducation et une nouvelle méthode que j’enseigne.

                                                                Mes différentes collaborations ainsi que ma recherche personnelle sont une source d’inspiration pour transmettre ma passion de la musique à mes élèves en adaptant ma pédagogie à chacun."|nl2br }}

                                                            </p>
                                                        </div>
                                                    </div>

                                                    {% for wish in user.getWishes().getValues() %}

                                                    {% endfor %}
                                                {% endif %}




                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    #}

{% endblock %}