{% trans_default_domain 'FOSUserBundle' %}


<div class="p-3 form-login">
    {% if error %}
        <div class="alert alert-danger mb-3" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="form-group row">
            <div class="col-12">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
            </div>
            <div class="col-12 pt-2">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input class="form-control"  type="password" id="password" name="_password" required="required" autocomplete="current-password" />
            </div>
            <div class="col-12 pt-2">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>
            <div class="col-12">
                <button class="btn btn-primary btn-block waves-effect waves-light" id="_submit" name="_submit" type="submit">{{ 'security.login.submit'|trans }}</button>
            </div>
            <div class="col-12 m-t-20 text-center">
                <a href="{{ path('fos_user_resetting_request') }}" class="text-muted">Mot de passe oublié?</a>
            </div>
            <div class="col-12 m-t-20 text-center">
                <a href="{{ path('fos_user_registration_register') }}" class="text-muted">Vous souhaitez vous inscrire?</a>
            </div>

        </div>
    </form>
</div>