{% extends 'base.html.twig' %}

{% block title %}Détail du contrat{% endblock %}


{% block body %}

    {% set url = path('myaccount') %}

    <div class="col-xs-12 col-sm-12">
        {% include 'common/flash-messages.html.twig' %}
    </div>

    <div class="container-fluid bg-white">

        <div class="col-xs-12 col-sm-12 pt-5">
            <div>
                {{ wo_render_breadcrumbs() }}
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <h3>
                    <span class="bd-content-title">Informations du contrat</span> <a class="btn mb-2 bg-blue" href="{{ path('contract.edition.mentor', { 'idUser': contract.getUser().getId(), 'idContract': contract.getId() }) }}" role="button"><i class="fas fa-money-check-edit"></i> Editer le contrat</a>
                </h3>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12">
                {#
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" style="width: 50%;background: red;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50% complété</div>
                </div>
                #}
                <div>
                    <h5>{{ contract.getStatus().getName() }} </h5>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="wdgt-box lst-grp-wrp">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><h4 class="text-center">Mentor (vous)</h4></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Pseudo</td>
                                    <td>{{ contract.getUser() }}</td>
                                </tr>
                                <tr>
                                    <td>Compétence</td>
                                    <td>{{ contract.getObjectif().getName() }}</td>
                                </tr>
                                <tr>
                                    <td>Description de la compétence</td>
                                    <td>{{ contract.getObjectif().getDescription() }}</td>
                                </tr>
                                <tr>
                                    <td>Envoyé le</td>
                                    <td>{{ contract.getCreated().format('d-m-Y à H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="wdgt-box lst-grp-wrp">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><h4 class="text-center">Mentoré (lui)</h4></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Pseudo</td>
                                    <td>{{ contract.getUser() }}</td>
                                </tr>
                                <tr>
                                    <td>Objectif</td>
                                    <td>{{ contract.getExperience().getName() }}</td>
                                </tr>
                                <tr>
                                    <td>Description de l'objectif</td>
                                    <td>{{ contract.getExperience().getDescription() }}</td>
                                </tr>
                                <tr>
                                    <td>Reçu le</td>
                                    <td>{{ contract.getCreated().format('d-m-Y à H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <h3>
                    <span class="bd-content-title">Sessions de Mentorat</span>
                    <a href="{{ path("session.create", { "id": contract.getId() } ) }}" title="Créer une session">
                        <button type="button" class="btn btn-primary bg-blue"><i class="fas fa-plus-hexagon"></i> Créer une session</button>
                    </a>
                </h3>
            </div>
        </div>

        <div>
            <div class="row">
                <table class="table table-hover mt-5">
                    <thead>
                        <tr>
                            <th scope="col">Date de session</th>
                            <th scope="col">Mentoré</th>
                            <th scope="col">Statut</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for session in listSessions %}
                    <tr>
                        <th scope="row">Session du {{ session.getCreated().format('d-m-Y à H:i') }}</th>
                        <td>{{ session.getContractsAuthor().getContractsReceiver().getUser().getName() }}</td>
                        <td>En cours</td>
                        <td>
                            <a href="{{ path("session.create", { "id": contract.getId() } ) }}" title="Créer une session">
                                <button type="button" class="btn btn-primary bg-blue"><i class="fas fa-plus-hexagon"></i> Créer une session</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}