{% extends 'base.html.twig' %}

{% block title %}Edition du contrat{% endblock %}



{% block body %}


    <div class="container bg-white">
        <div class="row pt-2 pl-1 pb-4">
            <a href="{{ path('contracts.listing', { 'section' : 'received' }) }}">
                <button type="button" class="btn btn-primary">Retourner vers la liste mes contrats</button>
            </a>
        </div>
        {#
        <div class="row p-1 pt-2 pb-2">
            <div class="alert alert-info w-100 text-center" role="alert">
                <h3>Proposition de mentoring</h3>
            </div>

            <div class="alert alert-danger text-center w-100" role="alert">
                Merci de bien vouloir prendre connaissance des modalités suivantes!
            </div>
            {% include 'contracts/rules/help.html.twig' %}
            <div class="alert alert-success w-100 text-center mt-2" role="alert">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="check">
                    <label class="form-check-label pointer" for="check">
                        <h4>J'atteste sur l'honneur avoir pris connaissance des modalités précédentes en cochant la case suivante</h4>
                    </label>
                </div>
            </div>
        </div>
        #}
        <form name="form-contract" method="post" action="">
            <input type="hidden" name="user1" value="{{ app.user.getId() }}">
            <input type="hidden" name="user2" value="{{ profilUser.getId() }}">

            <div id="contract" class="mrg20" style="display: nonex;">
                <div class="alert alert-info w-100 text-center  p-1 m-1" role="alert">
                    <h3>Validation du contrat</h3>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h4 class="text-center">Mentor (vous)</h4>
                        <div class="list-group">
                            <a href="javascript:void(0);" class="list-group-item active">{{ app.user.getName() }}</a>
                            {#
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                                {{ app.user.getDescriptionProfil() }}
                            </a>
                            #}
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action">Sélectionnez l'expertise sur laquelle vous souhaitez transmettre</a>
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                                <select class="form-control form-control-lg" name="objectif" id="experience-selected">
                                    {% for experience in listExperiencesUser1 %}
                                        <option value="{{ experience.getId() }}">{{ experience.getName() }}</option>
                                    {% endfor %}
                                </select>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                    <h4 class="text-center">Mentoré (lui)</h4>
                    <div class="list-group">
                        <a href="javascript:void(0);" class="list-group-item list-group-item-action active">{{ profilUser.getName() }}</a>
                        {#
                        <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                            {{ profilUser.getDescriptionProfil() }}
                        </a>
                        #}
                        <a href="javascript:void(0);" class="list-group-item list-group-item-action">Sélectionnez la compétence sur laquelle vous souhaitez mentorer</a>
                        <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                            <select class="form-control form-control-lg" name="competence" id="objectif-selected">
                                {% for objectif in listObjectifsUser2 %}
                                    <option value="{{ objectif.getId() }}" {% if app.request.get("idAds") == objectif.getId()%}selected{% endif %}>
                                        {{ objectif.getName() }}
                                    </option>
                                {% endfor %}
                            </select>
                        </a>
                    </div>

                </div>
                </div>
                <div class="col-12 mt-2">
                    <div class="form-group current mb-5">
                        <label for="1">
                            <span class="badge badge-light">1</span>
                            <i class="fas fa-chalkboard-teacher"></i>
                            Expérience du Mentor
                        </label>
                        <textarea class="form-control" name="textarea" rows="3" readonly="readonly" id="experience-selected-value">{{ listExperiencesUser1[0].getDescription() }}</textarea>
                    </div>
                    <div class="form-group current mb-5">
                        <label for="2">
                            <span class="badge badge-light">2</span>
                            <i class="fas fa-chalkboard-teacher"></i>
                            Objectif du Mentoré
                        </label>
                        <textarea class="form-control" name="textarea" rows="3" readonly="readonly" id="objectif-selected-value">{{ listObjectifsUser2[0].getDescription() }}</textarea>
                    </div>

                    {% set i = 3 %}
                    {% for row in listFields %}
                        {% if row.getTypeField() == "label" %}
                            <strong>{{ row.getLabelField }}</strong>
                            {% if row.getNoticeField() is not empty %}
                                <div class="alert alert-primary" role="alert">
                                    {{ row.getNoticeField() }}
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if row.getTypeField() == "textarea" %}
                            <div class="form-group current mb-5">
                                <label for="{{ row.getIdField() }}">
                                    <span class="badge badge-light"> {{ i }}</span>
                                    {% if row.getFilledBy() == "mentor" %}
                                        <i class="fas fa-chalkboard-teacher"></i>
                                    {% else %}
                                        <i class="fas fa-users-class"></i>
                                    {% endif %}
                                    {{ row.getLabelField }}
                                </label>
                                {% if row.getNoticeField() is not empty %}
                                    <div class="alert alert-warning" role="alert">
                                        {{ row.getNoticeField() }}
                                    </div>
                                {% endif %}
                                <textarea class="form-control" name="textarea[{{ row.getIdField() }}] [value-textarea-{{ row.getNameField() }}]" id="{{ row.getIdField() }}" rows="3">{{ listFieldsSelected[row.getIdField()] }}</textarea>
                            </div>
                            {% set i= i+1 %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col mt-2 text-center choice-selected">
                        <button type="button" class="btn btn-primary">Accepter et valider la proposition de contrat</button>
                    </div>
                    <div class="col mt-2 text-center choice-selected refus">
                        <button type="button" class="btn btn-warning">Refuser le contrat et attendre une meilleure proposition</button>
                    </div>
                    <div class="col mt-2 text-center choice-selected refus">
                        <button type="button" class="btn btn-danger">Refuser définitivement la proposition de contrat et y mettre fin</button>
                    </div>
                </div>
                <div class="row m-2 d-none" id="bloc-motif">
                    <label for="motif">Si refus, Saisir une note pour en expliquer la raison</label>
                    <textarea class="form-control" id="motif" name="motif" rows="3" ></textarea>
                </div>
                <div id="bloc-submit" class="row d-none">
                    <button type="submit" id="btn-submit" class="btn btn-info w-100">Valider</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Lora|Noto+Serif|Nunito|Open+Sans&display=swap" rel="stylesheet">
    <link href="{{ absolute_url('/homepage-child/css/contracts.css') }}" rel="stylesheet">
{% endblock %}

{% block customJavascripts %}
    <script>
        var experiences = [];
        {% for experience in listExperiencesUser1 %}
            experiences.push([{{ experience.getId() }}, '{{ experience.getDescription()|e('js') }}' ]);
        {% endfor %}

        var objectifs = [];
        {% for objectif in listObjectifsUser2 %}
            objectifs.push([{{ objectif.getId() }}, '{{ objectif.getDescription()|e('js') }}' ]);
        {% endfor %}
    </script>
    <script src="{{ absolute_url('/homepage-child/js/jquery.steps.js') }}"></script>
    <script src="{{ absolute_url('/homepage-child/js/contracts.js') }}"></script>
{% endblock %}