{% extends 'base.html.twig' %}

{% block title %}Creation du contrat{% endblock %}

{% block body %}
    <div class="container-fluid bgcolor-container">
        <div>
            <div class="text-center text-justify">
                <h2>{% if app.request.get('type') == 'demande' %} Proposition {% else %} Demande {% endif %} de mentoring</h2>
            </div>
            <div class="row">
                <div class="row col text-center">
                    <div class="col-sm-6">
                        <div>
                            <img class="rounded-circle img-responsive" width="150px" alt="300x200" src="{{ displayImage(app.user) }}" style="border: 7px solid white;">
                        </div>
                        <span>{{ app.user.getName() }}</span>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <img class="rounded-circle img-responsive" width="150px" alt="300x200" src="{{ displayImage(profilUser) }}" style="border: 7px solid white;">
                        </div>
                        <span>{{ profilUser.getName() }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 pt-2 text-center">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>

    <div class="container bg-white">
        <div class="row pt-2 pl-1 pb-4">
            <a href="{{ path('profil.detail', { 'id' : profilUser.getId(), 'name' : profilUser.getName() }) }}">
                <button type="button" class="btn btn-primary">Retourner vers le profil</button>
            </a>
        </div>
        <form name="form-contract" method="post" action="">
            <input type="hidden" name="user1" value="{{ app.user.getId() }}">
            <input type="hidden" name="user2" value="{{ profilUser.getId() }}">

            <div id="contract" class="row mrg20" style="display: nonex;">
                <div class="alert alert-info w-100 text-center  p-1 m-1" role="alert">
                    <h3>Début du contrat</h3>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <div class="wdgt-box lst-grp-wrp">
                        <div class="list-group">
                            <a href="javascript:void(0);" class="list-group-item active">{{ app.user.getName() }}</a>
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action">Sélectionnez l'expertise sur laquelle vous souhaitez transmettre</a>
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                                <select class="form-control form-control-lg" name="objectif" id="experience-selected">
                                    {% set price = 0 %}
                                    {% for experience in listExperiencesUser1 %}
                                        {% if loop.index == 1 %}
                                            {% set price = experience.getPrice() %}
                                        {% endif %}
                                        <option value="{{ experience.getId() }}">{{ experience.getName() }}</option>
                                    {% endfor %}
                                </select>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                                <div id="experience-selected-value">{{ listExperiencesUser1[0].getDescription() }}</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-lg-6 mb-5">
                    <div class="wdgt-box lst-grp-wrp">
                        <div class="list-group">
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action active">{{ profilUser.getName() }}</a>
                            {#
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                                {{ profilUser.getDescriptionProfil() }}
                            </a>
                            #}
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action">Sélectionnez la compétence sur laquelle vous souhaitez mentorer</a>
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                                <select class="form-control form-control-lg" name="competence" id="objectif-selected">
                                    {% for objectif in listObjectifsUser2 %}
                                        <option value="{{ objectif.getId() }}" {% if app.request.get("idAds") == objectif.getId()%}selected{% endif %}>
                                            {{ objectif.getName() }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                                <div id="objectif-selected-value">{{ listObjectifsUser2[0].getDescription() }}</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <div class="form-group current mb-2">
                        <label for="1">
                            Programme du mentor
                        </label>
                        <div class="alert alert-warning" role="alert">
                            Le Mentor est dans l'obligation de présenter son programme avant toute session préalable
                        </div>
                        <textarea class="form-control mt-0 mt-0" name="programme" rows="3" required placeholder="Au moins 10 lignes"></textarea>
                    </div>

                    {% set i = 3 %}
                    {% for row in listFields %}
                        {% if row.getTypeField() == "label" %}
                            <strong>{{ row.getLabelField }}</strong>
                            {% if row.getNoticeField() is not empty %}
                                <div class="alert alert-primary" role="alert">
                                    {{ row.getNoticeField() }}
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if row.getTypeField() == "textarea" %}
                            <div class="form-group current mb-5">
                                <label for="{{ row.getIdField() }}">
                                    {{ row.getLabelField }}
                                </label>
                                {% if row.getNoticeField() is not empty %}
                                    <div class="alert alert-warning" role="alert">
                                        {{ row.getNoticeField() }}
                                    </div>
                                {% endif %}
                                <textarea class="form-control" name="textarea[{{ row.getIdField() }}] [value-textarea-{{ row.getNameField() }}]" id="{{ row.getIdField() }}" rows="3"></textarea>
                            </div>
                            {% set i= i+1 %}
                        {% endif %}
                    {% endfor %}

                    <div class="form-group current mb-5">
                        <label for="oooo">
                            Messagerie
                        </label>
                        <div class="alert alert-danger" role="alert">
                            Attention, tous les échanges seront soumis à notre charte de bonne conduite et validés par nos modérateurs.
                        </div>
                        <div>
                            {% include 'contracts/common/bloc-list-messages.html.twig' with {'messageList': messageList} %}
                        </div>
                        <div class="row">
                            <div class="col-1 incoming_msg_img float-left bloc-contract-messagerie">
                                <img class="rounded-circle img-responsive img-contract-messagerie" height="80px" width="80px" alt="300x200" src="{{ displayImage(app.user) }}">
                            </div>
                            <div class="col-5" id="bloc-textarea">
                                <textarea class="form-control m-0 p-0" id="message" name="message" rows="3"></textarea>
                            </div>
                            <div class="col-1 m-0 p-0">
                                <button type="submit" id="send-message" class="btn btn-primary btn-circle" title="Envoyer votre message"><i class="fas fa-paper-plane fa-2x"></i></button>

                                {#
                                {{ app.user.getId() }}*{{ app.request.get("idUser") }}*{{ app.request.get("idAds") }}*{{ token }}*{{ path("contract.send.message") }}
                                #}

                                <input type="hidden" id="isMessage" name="isMessage"  value="0">
                                <input type="hidden" id="isContract" name="isContract" value="0">
                                <input type="hidden" name="receiver" value="{{ app.request.get("idUser") }}">
                                <input type="hidden" name="idAds" value="{{ app.request.get("idAds") }}">
                                <input type="hidden" name="token" value="{{ token }}">

                            </div>
                        </div>
                    </div>

                    <div class="form-group current mb-5">
                        <label for="aaa">
                            Prix de la session ( prix horaire )
                        </label>
                        <input type="text" class="form-control" name="textarea" rows="3" value="{% if price %} {{ price }} €{% endif %}" id="price" readonly="readonly">
                    </div>

                    <div class="mb-5">
                        <label for="aaa">
                            Vos disponibilités
                        </label>
                        <div class="row">
                            <div class="col-6">
                                <div class="p-3 mb-2 bg-primary text-white">Disponibilités du mentor ({{ app.user.getName() }})</div>
                            </div>
                            <div class="col-6">
                                <div class="p-3 mb-2 bg-secondary text-white">Disponibilités du mentoré ({{ profilUser.getName() }})</div>
                            </div>
                        </div>
                        <div class="" id="calendar"></div>
                    </div>

                    <div class="form-group current mb-5">
                        <label for="aaa">
                            Proposer une date de session souhaitée :
                        </label>
                        <input type="text" class="form-control datetimepicker" name="proposaldate" id="proposaldate" readonly>
                    </div>
                </div>
                <div class="form-group text-center m-auto p-2">
                    <button id="submit-contract" type="submit" class="btn btn-primary">Valider et envoyer la proposition de contrat</button>
                </div>
            </div>
            <input type="hidden" name="idContract" id="idContract" value="{{ idContractAuthor }}">
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Lora|Noto+Serif|Nunito|Open+Sans&display=swap" rel="stylesheet">
    <link href="{{ absolute_url('/homepage-child/css/contracts.css') }}" rel="stylesheet">
    <style>
        label {
            font-size: 24px;
            font-weight: bold;
        }
    </style>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}



{% block customJavascripts %}
    <script type="text/javascript">
        {#
        $(function () {
            $('#proposaldate').datetimepicker({
                locale: 'fr',
                format: 'DD-MM-YYYY HH:mm:00'
            });
        });
        // Fix du blur, probleme fermeture du calendrier
        $( document ).ready(function() {
            $("#proposaldate").on("blur",function () {
                $(".bootstrap-datetimepicker-widget").css("display","none");
            });
        });
        #}

        var experiences = [];
        {% for experience in listExperiencesUser1 %}
            experiences.push(['{{ experience.getId() }}', '{{ experience.getDescription()|e('js') }}', '{{ experience.getPrice() }}' ]);
        {% endfor %}

        var objectifs = [];
        {% for objectif in listObjectifsUser2 %}
            objectifs.push([{{ objectif.getId() }}, '{{ objectif.getDescription()|e('js') }}' ]);
        {% endfor %}
    </script>
    <script src="{{ absolute_url('/homepage-child/js/jquery.steps.js') }}"></script>
    <script src="{{ absolute_url('/homepage-child/js/contracts.js') }}"></script>

    <link href='{{ absolute_url('/homepage-child/fullcalendar/packages/core/main.css') }}' rel='stylesheet' />
    <link href='{{ absolute_url('/homepage-child/fullcalendar/packages/daygrid/main.css') }}' rel='stylesheet' />
    <script src='{{ absolute_url('/homepage-child/fullcalendar/packages/core/main.js') }}'></script>
    <script src='{{ absolute_url('/homepage-child/fullcalendar/packages/daygrid/main.js') }}'></script>

    <script src='{{ absolute_url('/homepage-child/fullcalendar/packages/timegrid/main.js') }}'></script>
    <link href='{{ absolute_url('/homepage-child/fullcalendar/packages/timegrid/main.css') }}' rel='stylesheet' />

    <script src='{{ absolute_url('/homepage-child/fullcalendar/packages/list/main.js') }}'></script>
    <link href='{{ absolute_url('/homepage-child/fullcalendar/packages/list/main.css') }}' rel='stylesheet' />
    <script src='{{ absolute_url('/homepage-child/fullcalendar/packages/interaction/main.js') }}'></script>
    <script src='{{ absolute_url('/homepage-child/js/moment.js') }}'></script>
    <script src='{{ absolute_url('/homepage-child/js/moment-with-locales.js') }}'></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'fr',
                //aspectRatio: 3,
                contentHeight: 600,
                ignoreTimezone: false,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                buttonText: {
                    today:    'Aujourd\'hui',
                    month:    'Mois',
                    week:     'Semaine',
                    day:      'Jour',
                    list:     'Liste'
                },
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                editable: false,
                plugins: [ 'interaction', 'dayGrid', 'timeGrid','list', 'dayGridPlugin' ],
                views: {
                    timeGrid: {
                        eventLimit: 1 // adjust to 6 only for timeGridWeek/timeGridDay
                    }
                },
                events: "{{ path("contract.load.calendar", { "idUser1": idUser1, "idUser2": idUser2 }) }}",
                eventClick: function(info) {

                },
                eventRender: function(event, element, view) {

                },
                select: function(arg) {

                },
                unselect: function(){

                },
                dateClick: function(arg) {
                    console.log(arg);
                }
            });
            //calendar.setOption('locale', 'fr');
            //calendar.setOption('aspectRatio', 1.2);
            calendar.render();
        });
    </script>




















{% endblock %}