{% extends 'base.html.twig' %}
{% block title %}Profil Detail{% endblock %}


{% block body %}

    {% set url = path('myaccount') %}

    <div class="col-xs-12 col-sm-12">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>

    <div class="container-fluid bg-white"> <div class="container-fluid pb-4">

        <div class="col-xs-12 col-sm-12 pt-5">

            <div>
                {{ wo_render_breadcrumbs() }}
            </div>

            {% include 'contracts/common/menu-contract.html.twig' with {'section': section, 'listContracts': listContracts } %}

            <div class="row">
                <table class="table table-hover mt-5">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Référence</th>
                            {#<th scope="col">Compétence choisie</th>#}
                            <th scope="col">Objectif ciblé</th>
                            <th scope="col">Destinataire</th>
                            <th scope="col">Date d'envoi</th>
                            <titerh scope="col">Statut</titerh>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for contract in listContracts %}
                        <tr style="word-break: break-all;">
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ contract.getName() }}</td>
                            {#<td>{{ contract.getExperience().getName() }}</td>#}
                            <td>{{ contract.getObjectif().getName() }}</td>
                            <td>{{ contract.getContractsReceiver().getUser().getName() }}</td>
                            <td>{{ contract.getCreated().format('d-m-Y à H:i') }}</td>
                            <td>{{ contract.getStatus().getName() }}</td>
                            <td>
                                <a href="{{ path('contracts.listing.details', { 'id': contract.getId(), 'section': section }) }}">
                                    <button type="button" class="btn btn-primary">Détail</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}