{% extends 'base.html.twig' %}

{% block title %}Profil Detail{% endblock %}


{% block body %}
    <div id="profile-container">
        <div class="jumbotron jumbotron-fluid bgcolor-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 text-capitalize">
                        <img class="rounded-circle img-responsive" width="150px" alt="300x200" src="{{ displayImage(profilUser) }}" style="border: 7px solid white;">
                    </div>
                    <div class="col-sm-9 text-capitalize ">
                        <h3>{{ profilUser.name }}</h3>
                        <p>{{ displayStars(profilUser) }}</p>
                        <p>{{ displayLocalisation(profilUser) }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">


            {% include 'common/flash-messages.html.twig' %}

            <div class="row">

                <!-- right menu -->

                <div class="col-xs-6 col-sm-3 sidebar-offcanvas order-sm-2" style="padding-left: 50px;" id="sidebar">
                    <div class="tab-pane fade show active pb-2" id="nav-homex" role="tabpanel" aria-labelledby="nav-home-tab">
                        <!--left col-->
                        <ul class="list-group pb-3">
                            <li class="list-group-item text-left bg-primary text-white"><strong>Contacter ce profile</strong></li>
                            <li class="list-group-item text-left">
                                <span class="pull-left">
                                    Envoyer un message.
                                </span>
                            </li>
                        </ul>
                    </div>


          			{% if currentAds.user == app.user %}
                    <div class="tab-pane fade show active pb-2" id="nav-homex" role="tabpanel" aria-labelledby="nav-home-tab">
                        <!--left col-->
                        <ul class="list-group pb-3">
                            <li class="list-group-item text-left bg-primary text-white"><strong>Medias</strong></li>
                            <li class="list-group-item text-left">
                                <span class="pull-left">
                                    <a id="btnVideo" href="#">Ajouter lien videos</a>
                                </span>
                                <span class="pull-left">
                                    <a id="btnPhoto" href="#">Ajouter photo</a>
                                </span>
                                <span class="pull-left">
                                    <a id="btnSon" href="#">Ajouter audio</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    {% endif %}

                    <div class="list-group pb-5">
                        <ul class="list-group">
                            <li class="list-group-item text-left list-group-item bg-primary text-white"><span class="pull-left"><strong>Donner un avis</strong></span></li>
                            <li class="list-group-item text-center">
                                laisser un commentaire.
                            </li>
                            <li class="list-group-item text-center">
                                Laisser une note.
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- right menu -->
                {% if section == 'media' %}
                    {% include '/ads/section_detail_ads/sectionMedia_detail-ads.html.twig' %}
                {% elseif  section == 'description' %}
                    {% include '/ads/section_detail_ads/sectionDescription_detail-ads.html.twig' %}
                {% elseif  section == 'avis' %}
                    {% include '/ads/section_detail_ads/sectionAvis_detail-ads.html.twig' %}
                {% endif %}
                <!--/tab-content-->
            </div>
            {#
                  <!-- form modale -->
             {% include '/ads/form/formVideo.html.twig' %}
             {% include '/ads/form/formPhoto.html.twig' %}
             {% include '/ads/form/formSon.html.twig' %}
             {% include '/ads/section_detail_ads/fullScreenMedia.twig' %}
            #}
            <!--  -->
            <!--/col-9-->
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ absolute_url('/homepage-child/css/profile.css') }}" rel="stylesheet">
{% endblock %}
{% block customJavascripts %}
    <script src="{{ asset('js/formModale.js') }}"></script>
{% endblock %}