{% extends 'base.html.twig' %}

{% block title %} {% endblock %}


{% block body %}
    {% include 'account/sections/top-header.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group">
                    {% include 'account/sections/left-menu.html.twig' with {'currentMenu': currentMenu, 'formPhoto': formPhoto } %}
                </div>
            </div>

            <div class="col-md-9 bg-white">
                {% include 'account/sections/bloc-documents.html.twig' with {'formIdentity': formIdentity} %}

                <div class="rowx pt-4">
                    <h2>Liste des fichiers ({{ listFiles|length }})</h2>

                    {% for file in listFiles  %}
                        <div class="card m-2">

                            <div class="card-body">
                                <h5 class="card-title"> {{ file.getName() }}</h5>
                                <p class="card-text">
                                    {% if 'pdf' in file.getPathFile() %}
                                        <i class="fas fa-file-pdf fa-4x"></i>
                                    {% else %}
                                        <i class="fas fa-file-image fa-4x"></i>
                                    {% endif %}
                                    Fichier créé le {{ file.getCreated().format('d-M-Y H:m') }}
                                </p>
                                <p class="card-text">
                                    {% if file.getIsValid() %}
                                        <i class="fas fa-check"></i> Validé par la Plateforme ce {{ file.getDateValidation().format('d-M-Y H:m') }}
                                    {% else %}
                                        <i class="fa fa-spinner fa-spin"></i> {{ file.getStatus().getName() }}
                                    {% endif %}
                                </p>
                                <p>
                                    <a target="_blank" href="{{ path('myaccount.check.documents', {'action' : 'openfile', 'id' : file.getId(), 'token' : csrf_token('secure-token')} ) }}">
                                        <button class="btn btn-primary btn-blockx waves-effect waves-light" type="submit">Voir le document</button>
                                    </a>
                                    {% if file.getStatus().value == getStatusConstant('STATUS_INACTIF') %}
                                        <a onclick="return confirm('Êtes-vous certain?');" href="{{ path('myaccount.check.documents', {'action' : 'submitFile', 'id' : file.getId(), 'token' : csrf_token('secure-token')} ) }}">
                                            <button class="btn btn-success btn-blockx waves-effect waves-light" type="submit">Soumettre pour vérification</button>
                                        </a>
                                    {% endif %}
                                    <a onclick="return confirm('Êtes-vous certain?');" href="{{ path('myaccount.check.documents', {'action' : 'deleteFile', 'id' : file.getId(), 'token' : csrf_token('secure-token')} ) }}">
                                        <button class="btn btn-danger btn-blockx waves-effect waves-light" type="submit">Supprimer le document</button>
                                    </a>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>


        </div>
    </div>

{% endblock %}

