{% extends 'base.html.twig' %}

{% block title %}Profil Detail{% endblock %}


{% block body %}
    <div id="profile-container">
        <div class="jumbotron jumbotron-fluid bgcolor-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 text-capitalize">
                        <img class="rounded-circle img-responsive" width="150px" alt="300x200" src="{{ displayImage(profilUser) }}" style="border: 7px solid white;">
                    </div>
                    <div class="col-sm-9 text-capitalize ">
                        <h3>{{ profilUser.name }}</h3>
                        <p>{{ displayStars(profilUser) }}</p>
                        <p>{{ displayLocalisation(profilUser) }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            {% include 'common/flash-messages.html.twig' %}

            <!-- right menu -->
            <div class="row">
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas order-sm-2" id="sidebar">
                    {#
                    <div class="tab-pane fade show active pb-2" id="nav-homex" role="tabpanel" aria-labelledby="nav-home-tab">
                        <!--left col-->
                        <ul class="list-group pb-3">
                            <li class="list-group-item text-left bg-primary text-white"><span class="pull-left"><strong>Changer de profil</strong></span></li>
                            {% for uProfile in listProfile %}
                                <li class="list-group-item text-left {{ profile == uProfile.getName() ? 'activeProfile' }}">
                                    <span class="pull-left">
                                        <a href="{{ path('profil.detail',{ 'profile':uProfile.getName(), 'id':profilUser.getId(), 'name':profilUser.getUsername() }) }}" title="Profil mentoré">
                                            <i class="fa fa-address-card fa-1x"></i> Profil {{ uProfile.getName() }}
                                        </a>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    #}

                   {% include 'profil/menuRightProfileAds.html.twig' %}
                </div>
                <!-- // right menu -->

                <!-- Breadcrumbs -->
                <div class="container-fluid pb-4">
                    {{ wo_render_breadcrumbs() }}
                </div>

                <!-- left menu -->
                <div class="col-xs-6 col-sm-9 order-sm-1">
                    <div class="tab-content" id="">
                        <div class="tab-pane fade show active pb-4" role="tabpanel" aria-labelledby="nav-home-tab">
                            <!--left col-->
                            <ul class="list-group">

                                {% if currentAds.getId() %}
                                    <li class="list-group-item text-left text-white police-oldenburg bg-primary">
                                        <span class=""><strong>{{ currentAds.getName() }}</strong></span>
                                    </li>
                                    <li class="list-group-item text-left">
                                        {{ displayBtnEdit({
                                            'idModal':'modal-btn-edit-ads-description-'~currentAds.getId(),
                                            'titleModal': 'Edition',
                                            'titleLink':'Editer la description',
                                            'icon': 'fa-edit',
                                            'onclick': 'loadAdsEdition(\''~path('ajax.form.ads.edition')~'\',\'#content-ajax-modal-btn-edit-ads-description-'~currentAds.getId()~'\', \''~profilUser.getId()~'\', \''~currentAds.getId()~'\');' }
                                        )}}
                                        {{ currentAds.getDescription()|nl2br }}
                                    </li>
                                {% else %}
                                    <li class="list-group-item text-left text-white police-oldenburg bg-primary">
                                        <span class=""><strong>PRESENTATION DU PROFIL</strong></span>
                                    </li>
                                    <li class="list-group-item text-left">
                                        {{ displayBtnEdit({
                                            'idModal':'modal-btn-edit-description',
                                            'titleModal': 'Edition',
                                            'titleLink':'Editer la présentation du profil',
                                            'icon': 'fa-edit',
                                            'onclick': 'loadEditionProfil(\''~path('ajax.form.profile.edition')~'\',\'#content-ajax-modal-btn-edit-description\','~profilUser.getId()~');' }
                                        )}}
                                        {{ profilUser.descriptionProfil()|display }}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    <!-- start__LISTE DES OBJECTIFS PERSONNELS -->
                    <div class="tab-content" id="">
                        <div class="tab-pane fade show active pb-4" role="tabpanel" aria-labelledby="nav-home-tab">
                            <!--left col-->
                            <ul class="list-group">
                                {% if app.request.get('media-id') %}
                                    {% if app.request.get('type') %}
                                        <li class="list-group-item">
                                            {% include 'profil/sections/medias_preview.html.twig' with {'mediaPreview': mediaPreview} %}
                                        </li>
                                    {% endif %}
                                {% endif %}
                                <li class="list-group-item text-left text-white police-oldenburg  bg-primary">
                                    <span class=""><strong>MES MEDIAS</strong></span>
                                </li>
                                <li class="list-group-item" style="background-color: #ebf6f4;">
                                    <div id="bloc-video" class="mb-3 pb-3">
                                        <span class="w-100">
                                            <a title="Accéder aux médias vidéos" href="{{ path('profil.detail.medias',{ 'userId':profilUser.getId(), 'name':profilUser.getUsername(), 'typeMedia' : 'videos' }) }}">
                                                Mes vidéos ({{ listVideos|length }}) <i class="fas fa-angle-double-right"></i>
                                            </a>
                                            {{ displayBtnEdit({
                                                'idModal':'modal-btn-add-videos',
                                                'titleModal': 'Ajout d\'une vidéo',
                                                'titleLink':'Ajouter une vidéo?',
                                                'icon': 'fa-plus-square',
                                                'onclick': 'loadMediaVideo(\''~path('ajax.form.video')~'\',\'#content-ajax-modal-btn-add-videos\','~profilUser.getId()~');' }
                                            )}}
                                        </span>
                                        <div class="row">
                                            {% include 'profil/sections/medias_videos.html.twig' with {'listVideos': listVideos, 'profilUser':profilUser} %}
                                        </div>
                                    </div>
                                    <div id="bloc-photo" class="mb-3 pb-3">
                                        <span class="w-100">
                                           <a title="Accéder aux médias photos" href="{{ path('profil.detail.medias',{'userId':profilUser.getId(), 'name':profilUser.getUsername(), 'typeMedia' : 'photos' }) }}">
                                                Mes photos ({{ listPhotos|length }}) <i class="fas fa-angle-double-right"></i>
                                           </a>
                                            {{ displayBtnEdit({
                                                'idModal':'modal-btn-add-photo',
                                                'titleModal': 'Ajout d\'une image',
                                                'titleLink':'Ajouter une image',
                                                'icon': 'fa-plus-square',
                                                'onclick': 'loadMediaPhoto(\''~path('ajax.form.photo')~'\',\'#content-ajax-modal-btn-add-photo\','~profilUser.getId()~');' }
                                            )}}
                                        </span>
                                        <div class="row">
                                            {% include 'profil/sections/medias_photos.html.twig' with {'listPhotos': listPhotos, 'profilUser':profilUser} %}
                                        </div>
                                    </div>
                                    <div id="bloc-audio" class="mb-3 pb-3">
                                        <span class="w-100">
											<a title="Accéder aux médias audios" href="{{ path('profil.detail.medias',{'userId':profilUser.getId(), 'name':profilUser.getUsername(), 'typeMedia' : 'audios' }) }}">
                                                Mes sons ({{ listMusics|length }}) <i class="fas fa-angle-double-right"></i>
                                            </a>
                                            {{ displayBtnEdit({
                                                'idModal':'modal-btn-add-music',
                                                'titleModal': 'Ajout d\'un son',
                                                'titleLink':'Ajouter un son',
                                                'icon': 'fa-plus-square',
                                                'onclick': 'loadMediaMusic(\''~path('ajax.form.music')~'\',\'#content-ajax-modal-btn-add-music\','~profilUser.getId()~');' }
                                            )}}
                                        </span>
                                        {% include 'profil/sections/medias_audios.html.twig' with {'listMusics': listMusics, 'profilUser': profilUser } %}
                                    </div>
                                    <div class="mb-3 pb-3">
                                        <span id="bloc-article" class="w-100">
                                            <a title="Accéder aux médias articles" href="{{ path('profil.detail.medias',{ 'userId':profilUser.getId(), 'name':profilUser.getUsername(), 'typeMedia' : 'articles' }) }}">
                                                Mes articles ({{ listArticles|length }}) <i class="fas fa-angle-double-right"></i>
                                            </a>
                                            {{ displayBtnEdit({
                                                'idModal':'modal-btn-add-article',
                                                'titleModal': 'Ajout d\'un article',
                                                'titleLink':'Ajouter un article',
                                                'icon': 'fa-plus-square',
                                                'onclick': 'loadMediaArticle(\''~path('ajax.form.article')~'\',\'#content-ajax-modal-btn-add-article\','~profilUser.getId()~');' }
                                            )}}
                                        </span>
                                        {% include 'profil/sections/medias_articles.html.twig' with {'listArticles': listArticles, 'profilUser':profilUser} %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end___LISTE DES OBJECTIFS PERSONNELS -->
                </div>
                <!--/tab-content-->
            </div>
            <!--/col-9-->
        </div>
    </div>
    {% include 'messagerie/form/formNewMessage.html.twig' %}
{% endblock %}

{% block stylesheets %}
        {{ parent() }}
        <link href="{{ absolute_url('/homepage-child/css/profile.css') }}" rel="stylesheet">
{% endblock %}
{% block customJavascripts %}
    <script src="{{ asset('homepage/js/formModale.js') }}"></script>
{% endblock %}