{% extends 'base.html.twig' %}

{% block title %}Profil Detail{% endblock %}


{% block body %}
    <div id="profile-container">
        <div class="jumbotron jumbotron-fluid bgcolor-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 text-capitalize">
                        <img class="rounded-circle img-responsive" width="150px" alt="300x200" src="{{ displayImage(profilUser) }}" style="border: 7px solid white;">
                    </div>
                    <div class="col-sm-9 text-capitalize ">
                        <h3>{{ profilUser.name }}</h3>
                        <p>{{ displayStars(profilUser) }}</p>
                        <p>{{ displayLocalisation(profilUser) }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            {% include 'common/flash-messages.html.twig' %}

            <!-- right menu -->
            <div class="row">
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas order-sm-2" id="sidebar">
                    {% include 'profil/menuRightProfileAds.html.twig' %}
                </div>
                <!-- // right menu -->

                <!-- Breadcrumbs -->
                <div class="container-fluid pb-4">
                    {{ wo_render_breadcrumbs() }}
                </div>

                <!-- Breadcrumbs -->
                <div class="container-fluid pb-4">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                        <a class="navbar-brand" href="#"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarColor02">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item {{ currentMedias == 'videos' ? 'active' }}">
                                    <a class="nav-link" href="{{ path('profil.detail.medias',{ 'userId':profilUser.getId(), 'name':profilUser.getUsername(), 'typeMedia' : 'videos' }) }}">
                                        Mes vidéos
                                    </a>
                                </li>
                                <li class="nav-item {{ currentMedias == 'photos' ? 'active' }}">
                                    <a class="nav-link" href="{{ path('profil.detail.medias',{ 'userId':profilUser.getId(), 'name':profilUser.getUsername(), 'typeMedia' : 'photos' }) }}">
                                        Mes photos
                                    </a>
                                </li>
                                <li class="nav-item {{ currentMedias == 'audios' ? 'active' }}">
                                    <a class="nav-link" href="{{ path('profil.detail.medias',{ 'userId':profilUser.getId(), 'name':profilUser.getUsername(), 'typeMedia' : 'audios' }) }}">
                                        Mes audios
                                    </a>
                                </li>
                                <li class="nav-item {{ currentMedias == 'articles' ? 'active' }}">
                                    <a class="nav-link" href="{{ path('profil.detail.medias',{ 'userId':profilUser.getId(), 'name':profilUser.getUsername(), 'typeMedia' : 'articles' }) }}">
                                        Mes articles
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>


                <!-- left menu -->
                <div class="col-xs-6 col-sm-9 order-sm-1">
                    <!-- start__LISTE DES OBJECTIFS PERSONNELS -->
                    <div class="bg-white" id="">
                        <div class="tab-pane fade show active pb-4" role="tabpanel" aria-labelledby="nav-home-tab">

                            <div class="p-2 bg-primary text-left text-white police-oldenburg text-uppercase">
                                MEDIAS {{ currentMedias }}
                            </div>

                            <div class="">
                                {% include 'profil/sections/detail-medias/medias_' ~ currentMedias ~ '.html.twig' with {
                                    'user': profilUser,
                                    'mediasList' : mediasList
                                }%}
                            </div>
                        </div>
                    </div>
                    <!-- end___LISTE DES OBJECTIFS PERSONNELS -->
                </div>
                <!--/tab-content-->
            </div>
            <!--/col-9-->
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
        {{ parent() }}
        <link href="{{ absolute_url('/homepage-child/css/profile.css') }}" rel="stylesheet">
{% endblock %}