<div class="tab-pane fade show active pb-2" id="right-menu" role="tabpanel" aria-labelledby="nav-home-tab">



    {# {% if app.user  %} #}
    <ul class="list-group pb-3">
        <li class="list-group-item text-left bg-primary text-white">
                                <span class="pull-left">
                                    <strong>
                                        Boîte à outils
                                    </strong>
                                </span>
        </li>
        <li class="list-group-item text-left b-radius">
            <span class="pull-left"><a id="contact_message" href="#" id="formMessagerie">Envoyer un message</a></span> <br>
            {% if app.user == profilUser %}
            <a href="{{ path('messagerie') }}" class="pull-left">
                <i class="fas fa-envelope mr-2"></i>Ma messagerie
            </a><br>
            {% endif %}
            <a  class="pull-left" href="{{ path('myaccount') }}" >
                <i class="fa fa-calendar mr-2"></i>Mes disponibilités
            </a>
        </li>

        {% if currentAds.getId() %}
            {% if currentAds.getProfile().getType() == 'demande' %}
                <li class="list-group-item text-left b-radius">
                                    <span class="pull-left">
                                        <a title="Proposer un accompagnement" href="{{ path('contract.create', {
                                            'idUser': profilUser.getId(),
                                            'idAds': currentAds.getId(),
                                            'type': currentAds.getProfile().getType()    }) }}">
                                            Proposer un accompagnement
                                        </a>
                                    </span>

                </li>
            {% else %}
                <li class="list-group-item text-left b-radius">
                                        <span class="pull-left">
                                            <a title="Demander un accompagnement" href="{{ path('contract.create', {
                                                'idUser': profilUser.getId(),
                                                'idAds': currentAds.getId(),
                                                'type': currentAds.getProfile().getType()    }) }}">
                                                Demander un accompagnement
                                            </a>
                                        </span>
                </li>
            {% endif %}
        {% endif %}
    </ul>

    <ul class="list-group pb-3">
        <li class="list-group-item text-left bg-primary text-white">
                                <span class="pull-left">
                                    <strong>
                                        Mes medias
                                    </strong>
                                </span>
        </li>
        <li class="list-group-item text-left b-radius">
            <a class="pull-left" href="{{ path('profil.detail.medias',{ 'userId':profilUser.getId(), 'name':profilUser.getUsername(), 'typeMedia' : 'videos','adsId':currentAds.getId() }) }}">
                <i class="fa fa-video-camera mr-2" ></i>Mes videos
            </a><br>
            <a  class="pull-left" href="{{ path('profil.detail.medias',{ 'userId':profilUser.getId(), 'name':profilUser.getUsername(), 'typeMedia' : 'photos','adsId':currentAds.getId() }) }}" >
                <i class="fa fa-picture-o mr-2"></i>Mes image
            </a><br>
            <a  class="pull-left" href="{{ path('profil.detail.medias',{ 'userId':profilUser.getId(), 'name':profilUser.getUsername(), 'typeMedia' : 'audios','adsId':currentAds.getId()}) }}" >
                <i class="fa fa-music mr-2"></i>Mes sons
            </a><br>
            <a  class="pull-left" href="{{ path('profil.detail.medias',{ 'userId':profilUser.getId(), 'name':profilUser.getUsername(), 'typeMedia' : 'articles' }) }}">
                <i class="fa fa-newspaper-o mr-2"></i>Mes articles
            </a>
        </li>

    </ul>
    {# {% endif %} #}
</div>