<div class="row">
    {% for music in listMusics|slice(0,medias.max_elements) %}
        <div class="m-2 p-2">
            <div class="d-flex justify-content-center">
                <span>{{ music.getName() }}</span>
                <div class="d-flex">
                    {{ displayBtnEdit({
                        'idModal':'modal-btn-edit-musics-'~music.getId(),
                        'titleModal': 'Modification de votre audio',
                        'titleLink':'Editer le fichier audio?',
                        'onclick': 'loadMediaMusic(\''~path('ajax.form.music')~'\',\'#content-ajax-modal-btn-edit-musics-'~music.getId()~'\', \''~profilUser.getId()~'\', \''~music.getId()~'\');' }
                    )}}

                    {{ displayBtnDelete(
                        {
                            'idModal'      : 'modal-btn-delete-audio-'~music.getId(),
                            'linkDelete'   :  path('profil.media.delete',{ 'idMedia':music.getId(), 'typeMedia':'audio', 'token' : csrf_token('delete-item') }),
                            'titleModal'   : 'Attention, suppression imminente',
                            'contentModal' : 'Confirmer la suppression du fichier audio?'
                        }
                    )}}
                </div>
            </div>
            <div class="media-hover">
                <a href="?media-id={{ music.getId() }}&type=audio">
                    <img src="{{ medias.default_music }}" width="{{ medias.width }}" class="rounded">
                </a>
            </div>
            <p class="text-center">
                {{ displayAdsName(music) }}
            <p>
        </div>
    {% endfor %}
    {%  if listMusics|length >= medias.max_elements %}
        <div class="d-flex m-2">
            <div class="d-flex media-hover align-items-center" style="">
                <a href="?load=audio#bloc-audio" title="Charger toutes les vidéos"> <i class="fas fa-ellipsis-h fa-2x"></i></a>
            </div>
        </div>
    {% endif %}
</div>