{% set totalMedia = listVideos|length %}
{% if app.request.get('load') == "all-videos" %}
    {% set listVideos = listVideos %}
    {% else %}
        {% set listVideos = listVideos|slice(0,medias.max_elements) %}
{% endif %}

{% for video in listVideos %}
    <div class="m-2">
        <div class="d-flex justify-content-center">
            <span><a href="{{ video.getUri() }}" title="{{ video.getName() }}">{{ video.getName() }}</a></span>
            <div class="d-flex">
                {{ displayBtnEdit({
                    'idModal':'modal-btn-edit-videos-'~video.getId(),
                    'titleModal': 'Modification de votre vidéo',
                    'titleLink':'Editer la vidéo?',
                    'onclick': 'loadMediaVideo(\''~path('ajax.form.video')~'\',\'#content-ajax-modal-btn-edit-videos-'~video.getId()~'\', \''~profilUser.getId()~'\', \''~video.getId()~'\');' }
                )}}

                {{ displayBtnDelete(
                    {
                        'idModal'      : 'modal-btn-delete-videos-'~video.getId(),
                        'linkDelete'   :  path('profil.media.delete',{ 'idMedia':video.getId(), 'typeMedia':'video', 'token' : csrf_token('delete-item') }),
                        'titleModal'   : 'Attention, suppression imminente',
                        'contentModal' : 'Confirmer la suppression de la vidéo?'
                    }
                )}}
            </div>
        </div>
        <div class="media-hover">
            <a href="?media-id={{ video.getId() }}&type=video">
                <img src="{{ medias.default_video }}" width="{{ medias.width }}" class="rounded">
            </a>
        </div>
        <p class="text-center">
            {{ displayAdsName(video) }}
        <p>
    </div>
{% endfor %}


{%  if totalMedia > medias.max_elements  %}
    <div class="d-flex m-2">
        <div class="d-flex media-hover align-items-center" style="">
            <a href="?load=all-videos#bloc-video" title="Charger toutes les vidéos"> <i class="fas fa-ellipsis-h fa-2x"></i></a>
        </div>
    </div>
{% endif %}