<!-- Modal -->
<div class="modal fade" id="modalVote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Donnez votre avis sur {{ user.username }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if app.user is empty %}
                    <p>Connectez vous ou inscrivez-vous pour pouvoir donner votre avis</p>
                    <a class="" href="{{ path('fos_user_registration_register') }}" style=""><button type="button" class="btn btn-info">S'inscrire</button></a>
                    <a class="" href="{{ path('fos_user_security_login') }}"><button type="button" class="btn btn-info">Se connecter</button></a>
                {% else %}
                    {{ form_start(formVote) }}
                    <div class="form-group row">
                        <div class="col">
                            {{ form_row(formVote.rating, { 'attr': {'class': 'form-control m-0'}, 'label' : 'Note' }) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            {{ form_row(formVote.description, { 'attr': {'class': 'form-control m-0'}, 'label' : 'Description' }) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="bt-group pt-lg-2">
                            {{ form_row(formVote.idReceiver) }}
                            <button type="submit" class="btn btn-primary w-100">VALIDER</button>
                        </div>
                    </div>
                    {{ form_end(formVote) }}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>