<p class="row" style="padding-top: 10px;">
    <div class="d-flex justify-content-end col pull-right ">
        <a href="{{ path('myaccount.edit', { 'section' : section }) }}">
            <button type="button" class="btn btn-primary">MODIFIER LE PROFIL MENTOR</button>
        </a>
    </div>
</p>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <!--left col-->
        <ul class="list-group pt-5">
            <li class="list-group-item text-left">
                <span class="pull-left"><strong>Nom :</strong></span> {{ user.getName()|display }} </li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Prénom :</strong></span> {{ user.getFirstname()|display }} &nbsp;</li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Adresse :</strong></span> {{ user.getAddress()|display }} &nbsp;</li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Code Postal :</strong></span> {{ user.firstname|display }} &nbsp;</li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Ville :</strong></span> {{ user.firstname|display }} &nbsp;</li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Pays :</strong></span> {{ user.firstname|display }} &nbsp;
            <li class="list-group-item text-left"><span class="pull-left"><strong>Description du profil :</strong></span> {{ user.getDescriptionProfil()|display }} &nbsp;</li>
        </ul>
    </div>
</div>
