{% extends 'dashbord_admin/index.html.twig' %}

{% block body %}

<div class="content-wrap">
    <div class="home-title">
        <h1><strong>Web Pâques Administration <span></span>.</strong></h1>
    </div>


    <div class="content-inner remove-ext5">
        <div class="row mrg20">

            <div class="col-md-3 col-sm-6 col-lg-3">
                <div class="wdgt-box stats-box box-prpl">
                    <div class="wdgt-opt">
                        <a class="refrsh-btn" href="#" title=""><i class="icon ion-ios-reload"></i></a>
                        <a class="expnd-btn" href="#" title=""><i class="icon ion-arrow-expand"></i></a>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-pulse">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <i class="icon ion-android-desktop"></i>
                    <div class="stats-inr">
                        <h6><span class="counter">{{nbrTotalvisitlast30Days}}</span></h6>
                        <span>Visiteurs derniers 30 jours</span>
                    </div>
                    <span><i class="icon ion-ios-stopwatch"></i>Updated:<span>{{ "now"|date("m/d/Y h:i:s") }}</span></span>
                    <div class="progress">
                        <div class="progress-bar wdth25"><span>25%</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-lg-3">
                <div class="wdgt-box stats-box box-red">
                    <div class="wdgt-opt">
                        <a class="refrsh-btn" href="#" title=""><i class="icon ion-ios-reload"></i></a>
                        <a class="expnd-btn" href="#" title=""><i class="icon ion-arrow-expand"></i></a>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-pulse">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <i class="icon ion-ios-person-outline"></i>
                    <div class="stats-inr">
                        <h6><span class="counter">{{nbrTotalUsers}}</span></h6>
                        <span>Total Users</span>
                    </div>
                    <span><i class="icon ion-ios-stopwatch"></i>Updated:<span>{{ "now"|date("m/d/Y h:i:s") }}</span></span>
                    <div class="progress">
                        <div class="progress-bar wdth80"><span>80%</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-lg-3">
                <div class="wdgt-box stats-box box-grn">
                    <div class="wdgt-opt">
                        <a class="refrsh-btn" href="#" title=""><i class="icon ion-ios-reload"></i></a>
                        <a class="expnd-btn" href="#" title=""><i class="icon ion-arrow-expand"></i></a>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-pulse">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <i class="icon ion-social-usd-outline"></i>
                    <div class="stats-inr">
                        <h6><span class="counter">-</span></h6>
                        <span>Total Sales</span>
                    </div>
                    <span><i class="icon ion-ios-stopwatch"></i>Updated:<span>{{ "now"|date("m/d/Y h:i:s") }}</span></span>
                    <div class="progress">
                        <div class="progress-bar wdth30"><span>30%</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="wdgt-box pie-chart">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <canvas id="myChart"></canvas>

                    </div>
            </div>


            <div id="order" class="col-md-12 col-sm-12 col-lg-12">
                <div class="wdgt-box wrkng-ordr">
                    <div class="wdgt-opt">
                        <a class="refrsh-btn" href="#" title=""><i class="icon ion-ios-reload"></i></a>
                        <a class="expnd-btn" href="#" title=""><i class="icon ion-arrow-expand"></i></a>
                    </div>
                    <div class="wdgt-ldr">
                        <div class="ball-pulse">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <h4>Contrat</h4>
                    <div class="slct-box">
                        <i class="icon ion-android-funnel"> Sort By:</i>
                        <select>
                            <option>Date</option>
                            <option>Date</option>
                            <option>Date</option>
                            <option>Date</option>
                            <option>Date</option>
                        </select>
                    </div>
                    <div class="ordr-tbl-wrp">
                        <table>
                            <thead><tr><th>#</th><th>Date</th><th>Nom</th><th>Phone No</th><th>Address</th><th>Status</th></tr></thead>

                            <tbody>
                            {% for contrats in contrats %}
                                <tr><td>{{ contrats.id }}</td><td>{{ contrats.created|date("m/d/Y") }}</td><td><h4><a href="#" title="">{{ contrats.user.username }}</a></h4></td><td>{{ contrats.user.phone1 }}</td><td>Some St. 77, LA</td><td>{{ contrats.status.name }}</td></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block customJavascripts %}
 <script src="{{  absolute_url('/admindashbord/js/jquery.min.js')}}"></script>
        <script src="{{  absolute_url('/admindashbord/js/bootstrap.min.js')}}"></script>
        <script src="{{  absolute_url('/admindashbord/js/Chart.js')}}"></script>
        <script src="{{  absolute_url('/admindashbord/js/plugins.min.js')}}"></script>
        <script src="{{  absolute_url('/admindashbord/js/custom-scripts.js')}}"></script>
        <script src="{{  absolute_url('/admindashbord/js/usersManagement.js')}}"></script>
        <script src="{{  absolute_url('/admindashbord/js/visitorCount.js')}}"></script>

{% endblock %}