<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href="{{ absolute_url('/logo-icon.png') }}">
    <title>Pâques - Administration</title>


    <link href="" rel="stylesheet">
    <link rel="stylesheet" href="{{ absolute_url('/admindashbord/css/icons.min.css')}}">
    <link rel="stylesheet" href="{{ absolute_url('/admindashbord/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ absolute_url('/admindashbord/css/plugins.min.css')}}">
    <link rel="stylesheet" href="{{ absolute_url('/admindashbord/css/calendar-core-main.min.css')}}">
    <link rel="stylesheet" href="{{ absolute_url('/admindashbord/css/calendar-daygrid-main.min.css')}}">
    <link rel="stylesheet" href="{{ absolute_url('/admindashbord/css/style.css')}}">
    <link rel="stylesheet" href="{{ absolute_url('/admindashbord/css/responsive.css')}}">
    <!-- Color Scheme -->
    <link rel="alternate stylesheet" href="{{  absolute_url('/admindashbord/css/colors/color.css')}}" title="theme-color1">
    <link rel="alternate stylesheet" href="{{ absolute_url('/admindashbord/css/colors/color2.css')}}" title="theme-color2">
    <link rel="alternate stylesheet" href="{{  absolute_url('/admindashbord/css/colors/color3.css')}}" title="theme-color3">
    <link rel="alternate stylesheet" href="{{  absolute_url('/admindashbord/css/colors/color4.css')}}" title="theme-color4">
    <link rel="alternate stylesheet" href="{{  absolute_url('/admindashbord/css/colors/color5.css')}}" title="theme-color5">
    <link rel="alternate stylesheet" href="{{  absolute_url('/admindashbord/css/colors/color6.css')}}" title="theme-color6">
    <link rel="alternate stylesheet" href="{{  absolute_url('/admindashbord/css/colors/color7.css')}}" title="theme-color7">
    <link rel="alternate stylesheet" href="{{  absolute_url('/admindashbord/css/colors/color8.css')}}" title="theme-color8">
    <link rel="alternate stylesheet" href="{{  absolute_url('/admindashbord/css/colors/color9.css')}}" title="theme-color9">


</head>
<body class="gray-bg">

    <main class="header-expand">
        <div class="sidepanel">
            <span class="sidebanel-btn"><i class="icon ion-ios-cog fa-spin"></i></span>
            <div class="sidepanel-inner">
                <h6>Theme</h6>
                <div class="option-list">
                    <a class="light-btn applied" href="#" title="">Light</a>
                    <a class="semi-dark-btn" href="#" title="">Semi Dark</a>
                    <a class="dark-btn" href="#" title="">Dark</a>
                </div>
            </div>
            <div class="sidepanel-inner">
                <h6>Theme Color</h6>
                <div class="option-list theme-color-options">
                    <a class="theme-color1" href="#" title="" onclick="setActiveStyleSheet('theme-color1'); return false;"></a>
                    <a class="theme-color2" href="#" title="" onclick="setActiveStyleSheet('theme-color2'); return false;"></a>
                    <a class="theme-color3" href="#" title="" onclick="setActiveStyleSheet('theme-color3'); return false;"></a>
                    <a class="theme-color4" href="#" title="" onclick="setActiveStyleSheet('theme-color4'); return false;"></a>
                    <a class="theme-color5" href="#" title="" onclick="setActiveStyleSheet('theme-color5'); return false;"></a>
                    <a class="theme-color6" href="#" title="" onclick="setActiveStyleSheet('theme-color6'); return false;"></a>
                    <a class="theme-color7" href="#" title="" onclick="setActiveStyleSheet('theme-color7'); return false;"></a>
                    <a class="theme-color8" href="#" title="" onclick="setActiveStyleSheet('theme-color8'); return false;"></a>
                    <a class="theme-color9" href="#" title="" onclick="setActiveStyleSheet('theme-color9'); return false;"></a>
                </div>
            </div>
            <div class="sidepanel-inner">
                <h6>Sidebar Layout</h6>
                <div class="option-list">
                    <a class="mini-header-btn" href="#" title="">Mini Header</a>
                    <a class="full-header-btn applied" href="#" title="">Full Header</a>
                </div>
            </div>
        </div><!-- Side Panel -->
        <div class="topbar">
            <div class="logo"><a href="{{ path('home') }}" title="Logo"><img src="{{ absolute_url('/logo.png') }}" width="75px" href="75px" alt="logo.png"></a></div><!-- Logo -->
            <span class="menu-btn"><i class="fa fa-align-right"></i></span>
           <!-- <form class="topbar-search">
                <input type="text" placeholder="Type and Hit Enter">
                <button type="submit"><i class="icon ion-android-search"></i></button>
            </form> -->
        </div>
        <header class="dark-bg">
            <div class="usr-inf" style="background-image: url({{app.user.photo}});">
                <div class="usr-inf-inner">
                    <span class="usr-img"><img src="{% if app.user.photo == null %}/homepage-child/images/mystery-man.jpg{% else %}{{ app.user.photo }}{% endif %}" alt="user-img.jpg"><i class="usr-sts onln"></i></span>
                    <div class="usr-nm-desg">
                        <h4>{{app.user.username | truncate(18)}}</h4>

                    </div>
                </div>
                <p>Admin</p>
                <div class="usr-inf-btns">
                    <!-- <a class="usr-msg" href="#" title="">Message</a> -->
                    <a class="usr-log" href="/logout" title="">Log Out</a>
                </div>
            </div><!-- User Info -->
            <nav>
                <ul>
                    <li class="menu-item-has-children"><a href="#" title=""><i class="icon ion-android-home"></i><span>Dashboard</span></a>
                        <ul class="children">
                            <li><a href="{{path('dashbord_admin')}}" title="">Dashboard</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#" title=""><i class="icon ion-android-contact"></i><span>User</span></a>
                        <ul class="children">
                            <li><a href="{{path('managerUsers')}}" title="">Management utilisateurs</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#" title=""><i class="icon ion-bag"></i><span>Contrat</span></a>
                        <ul class="children">
                            <li><a href="{{path('listeContrat')}}" title="">Management contrat</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- Nav -->
        </header><!-- Header -->

        {% block body %}
        {% endblock %}

        <footer>
            <p>Copyright <a href="#" title="">Foxio</a> &copy; 2019</p>
            <ul class="btm-lnks">
                <li><a href="#" title="">Dashboard</a></li>
                <li><a href="#" title="">Widgets</a></li>
                <li><a href="#" title="">About us</a></li>
                <li><a href="#" title="">Contact us</a></li>
            </ul>
        </footer><!-- Footer -->
    </main><!-- Main Wrapper -->
    {% block customJavascripts %}
        <script src="{{  absolute_url('/admindashbord/js/jquery.min.js')}}"></script>
        <script src="{{  absolute_url('/admindashbord/js/bootstrap.min.js')}}"></script>
        <script src="{{  absolute_url('/admindashbord/js/Chart.js')}}"></script>
        <script src="{{  absolute_url('/admindashbord/js/plugins.min.js')}}"></script>
        <script src="{{  absolute_url('/admindashbord/js/custom-scripts.js')}}"></script>
        <script src="{{  absolute_url('/admindashbord/js/usersManagement.js')}}"></script>





    {% endblock %}
</body>



</html>