{% extends 'dashbord_admin/index.html.twig' %}

{% block body %}

<div class="content-wrap">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>

    <div class="wdgt-box tabl-wrp">
    <h4>Contrats</h4>

        <div class="row">
            <div class="col-md-2 offset-md-10">
                <p>page {{ page }}/{{ maxPage }} {% if page > 1%} <a href="{{path('listeContrat', {'page':page-1 })}}">< </a>{% endif %}{% if maxPage > page %}<a href="{{path('listeContrat', {'page':page+1 })}}">></a>{% endif %}</p>
            </div>
        </div>
        <div class="row">
           <div class="col-lg-12">
                <div class="ordr-tbl-wrp">
                    <table>
                        <thead><tr><th>#</th><th>Date</th><th>Nom</th><th>Phone No</th><th>Ville</th><th>Status</th></tr></thead>

                        <tbody>
                        {% for contrats in contrats %}
                            <tr><td>{{ contrats.id }}</td><td>{{ contrats.created|date("m/d/Y") }}</td><td><h4><a href="#" title="">{{ contrats.user.username }}</a></h4></td><td>{{ contrats.user.phone1 }}</td><td>{{ contrats.user.city }}</td><td>{{ contrats.status.name }}</td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

</div>
</div>
{% endblock %}



