<div class="tab-content" id="notifications">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <!--left col-->

        <ul class="list-group pt-5">
            <li class="list-group-item text-left text-white police-oldenburg bg-primary">
                <span class=""><strong>CONFIGURATION DU PROFIL</strong></span>
                <i class="fas fa-edit" data-toggle="modal" data-target="#profilModal" style="cursor: pointer;" title="Modifier"></i>
            </li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Civilité :&nbsp;</strong></span> {{ user.civility|display }} </li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Nom :&nbsp;</strong></span> {{ user.firstname|display }} &nbsp;</li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Prénom :&nbsp;</strong></span> {{ user.lastname|display }} &nbsp;</li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Adresse email :&nbsp;</strong></span> {{ user.email|display }} &nbsp;</li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Date de naissance :&nbsp;</strong></span> {{ user.birthday|date('d/m/Y') }} &nbsp;
            <li class="list-group-item text-left"><span class="pull-left"><strong>Adresse :&nbsp;</strong></span> {{ user.address|display }} &nbsp;</li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Complément adresse :&nbsp;</strong></span> {{ user.complementAddress|display }} </li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Code postal :&nbsp;</strong></span> {{ user.postalCode|display }} </li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Ville :&nbsp;</strong></span> {{ user.city|display }} </li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Pays :&nbsp;</strong></span> {{ user.country|display }} </li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Téléphone 1 :&nbsp;</strong></span> {{ user.phone1|display }} </li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Téléphone 2 :&nbsp;</strong></span> {{ user.phone2|display }} </li>
            <li class="list-group-item text-left"><span class="pull-left"><strong>Description :&nbsp;</strong></span> {{ user.descriptionProfil|display }} </li>
        </ul>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="profilModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="exampleModalLabel">MODIFIER VOTRE PROFIL</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(formUser) }}
                        <div class="panel panel-primary">
                            <div class="my-custom-class-for-errors">
                                {{ form_errors(formUser) }}
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    {{ form_row(formUser.username, {
                                        'attr': {
                                            'class': 'form-control m-0',
                                            'readonly':'readonly'
                                        },
                                        'label' : 'Pseudo'
                                    })}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    {{ form_row(formUser.civility, { 'attr': {'class': 'form-control m-0'}, 'label' : 'Civilité' }) }}
                                </div>
                                <div class="col-4">
                                    {{ form_row(formUser.firstname, { 'attr': {'class': 'form-control m-0'}, 'label' : 'Nom' }) }}
                                </div>
                                <div class="col-4">
                                    {{ form_row(formUser.lastname, { 'attr': {'class': 'form-control m-0'}, 'label' : 'Prénom' }) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    {{ form_row(formUser.email, {
                                        'attr': {
                                            'class': 'form-control m-0',
                                            'readonly':'readonly'
                                        },
                                        'label' : 'Email'
                                    })}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    {{ form_row(formUser.birthday, { 'attr': {'class': 'form-control m-0'}, 'label' : 'Date de naissance'  }) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    {{ form_row(formUser.address, { 'attr': {'class': 'form-control m-0'}, 'label' : 'Adresse'  }) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    {{ form_row(formUser.complementAddress, { 'attr': {'class': 'form-control m-0'}, 'label' : 'Complément adresse'  }) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6">
                                    {{ form_row(formUser.postalCode, { 'attr': {'class': 'form-control m-0'}, 'label' : 'Code postal'  }) }}
                                </div>
                                <div class="col-6">
                                    {{ form_row(formUser.city, { 'attr': {'class': 'form-control m-0'}, 'label' : 'Ville'  }) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    {{ form_row(formUser.country, { 'attr': {'class': 'form-control m-0'}, 'label' : 'Pays'  }) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    {{ form_row(formUser.phone1, { 'attr': {'class': 'form-control m-0'}, 'label' : 'Téléphone 1'  }) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    {{ form_row(formUser.phone2, { 'attr': {'class': 'form-control m-0'}, 'label' : 'Téléphone 2'  }) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    {{ form_row(formUser.descriptionProfil, { 'attr': {'class': 'form-control m-0'}, 'label' : 'Description profil'  }) }}
                                </div>
                            </div>
                            <div class="form-group text-center row m-t-20">
                                <div class="col-12">
                                    <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Mettre à jour</button>
                                </div>
                            </div>
                        </div>
                    {{ form_end(formUser) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">FERMER</button>
                </div>
            </div>
        </div>
    </div>
</div>