<div class="tab-content" id="sss">
    <div class="tab-pane fade show active pt-5" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        {% for ads in listAds %}
            <form name="form_ads_{{ ads.getId() }}" action="" method="post">
                <table class="table table-bordered bg-white pt-2">
                    <tbody>
                        <tr>
                            <td>Experience</td>
                            <td>{{ ads.getName() }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{ ads.getDescription() }}</td>
                        </tr>
                        <tr>
                            <td>Prix horaire</td>
                            <td>
                                <div class="input-group mb-3">
                                    <input type="text" name="price" id="price" class="form-control" aria-label="" value="{{ ads.getPrice() }}" required>
                                    <input type="hidden" name="adsId" value="{{ ads.getId() }}">
                                    <input type="hidden" name="action" value="updatePrice">
                                    <div class="input-group-append">
                                        <span class="input-group-text">€</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="99">
                                <button type="submit" class="btn bg-blue">
                                    SAUVEGARDER
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        {% endfor %}
    </div>
</div>