{% extends 'base.html.twig' %}

{% block title %}Profil Detail{% endblock %}


{% block body %}

    {% set url = path('myaccount') %}

    <div id="profile-container">
        <div class="jumbotron jumbotron-fluid  bgcolor-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 text-capitalize position-relative">
                        <img height="150px" class="placeholder img-responsive rounded-circle" src="{{ asset(displayImage(user)) }}" style="">

                        <div class="position-absolute" style="bottom: 0;left:70px;">
                            {% include 'account/sections/modal-upload.html.twig' with {
                                'user': user ,
                                'section':section,
                                'formPhoto':formPhoto,
                            } %}
                        </div>
                    </div>
                    <div class="col-sm-9 text-capitalize ">
                        <h3>{{ user.name }}</h3>
                        <p>{{ displayStars(user) }}</p>
                        <p>{{ displayLocalisation(user) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-sm-12">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <div class="col-xs-12 col-sm-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-competence-tab" data-toggle="tab" href="#nav-dispos" role="tab" aria-controls="nav-profile" aria-selected="false">
                        Configuration de mes disponibilités
                    </a>
                    <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-notif" role="tab" aria-controls="nav-home" aria-selected="true">
                        Gestion des notifications
                    </a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-config" role="tab" aria-controls="nav-profile" aria-selected="false">
                        Configuration du profil
                    </a>
                    <a class="nav-item nav-link" id="nav-competence-tab" data-toggle="tab" href="#nav-comptence" role="tab" aria-controls="nav-profile" aria-selected="false">
                        Configuration des compétences
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-dispos" role="tabpanel" aria-labelledby="nav-config-tab">
                    {% include 'account/index/bloc-dispos.html.twig' with {'user': user} %}
                </div>
                <div class="tab-pane fade" id="nav-notif" role="tabpanel" aria-labelledby="nav-notif-tab">
                    {% include 'account/index/bloc-notifications.html.twig' with {'user': user} %}
                </div>
                <div class="tab-pane fade" id="nav-config" role="tabpanel" aria-labelledby="nav-config-tab">
                    {% include 'account/index/bloc-profil.html.twig' with {'user': user} %}
                </div>
                <div class="tab-pane fade" id="nav-comptence" role="tabpanel" aria-labelledby="nav-config-tab">
                   {% include 'account/index/bloc-competences.html.twig' with {'user': user, 'listAds':listAds} %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

