{% for articlesArrays in mediasList %}
    {% set prevAds = "" %}
    {% for article in articlesArrays %}
        {%  if loop.index == 1 or prevAds != article.getMedias().getAds().getName() %}
            <div class="pt-5 m-4 font-weight-bold">{{ article.getMedias().getAds().getName() }}</div>
        {% endif %}

        <div class="d-inline-flex m-2">
            <div class="justify-content-center">
                <span>{{ article.getName() }}</span>
                <div class="">
                    {{ displayBtnEdit({
                        'idModal':'modal-btn-add-article',
                        'titleModal': 'Ajout d\'un article',
                        'titleLink':'Ajouter un article',
                        'icon': 'fa-plus-square',
                        'onclick': 'loadMediaArticle(\''~path('ajax.form.article')~'\',\'#content-ajax-modal-btn-add-article\','~profilUser.getId()~');' }
                    )}}

                    {{ displayBtnEdit({
                        'idModal':'modal-btn-edit-article-'~article.getId(),
                        'titleModal': 'Modification de votre article',
                        'titleLink':'Editer la vidéo?',
                        'onclick': 'loadMediaArticle(\''~path('ajax.form.article')~'\',\'#content-ajax-modal-btn-edit-article-'~article.getId()~'\', \''~profilUser.getId()~'\', \''~article.getId()~'\');' }
                    )}}

                    {{ displayBtnDelete(
                        {
                            'idModal'      : 'modal-btn-delete-article-'~article.getId(),
                            'linkDelete'   :  path('profil.media.delete',{ 'idMedia':article.getId(), 'typeMedia':'article', 'token' : csrf_token('delete-item') }),
                            'titleModal'   : 'Attention, suppression imminente',
                            'contentModal' : 'Confirmer la suppression de l\'article?'
                        }
                    )}}
                    <div class="d-flex">
                        {{ article.getDescription() }}
                    </div>
                    <p>
                        {{ displayAdsName(article) }}
                    <p>
                </div>
            </div>
        </div>
        {% set prevAds = article.getMedias().getAds().getName()  %}
    {% endfor %}
{% endfor %}