<div class="row mb-2">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-1 col-sm-2 col-md-1 bold italic">
                        <i class="fa fa-arrow-alt-circle-right fa-2x"></i>
                    </div>
                    <div class="col-xs-8 col-sm-7 col-md-8">
                        <div class="col">
                            Session du {{ session.getProposedDate().format('d-m-Y à H:i') }}
                            <p>
                                <b>{{  session.getPreSession().getMentore().getName() }} & {{  session.getPreSession().getMentor().getName() }}</b>
                            </p>
                        </div>

                        {% if session.getAmountPenality() > 0 %}
                            <div class="col" style="color:#9f191f;">
                                Pénalité de {{ session.getAmountPenality() }}€ appliqué au Mentor
                            </div>
                        {% endif %}

                        {% if session.getAmount() > 0 %}
                            <div class="col" style="color:#26943f;">
                                Paiement de {{ session.getAmount() }}€
                            </div>
                        {% endif %}

                        {% if session.getAmountRefound() > 0 %}
                            <div class="col" style="color:#26943f;">
                                Remboursement de {{ session.getAmountRefound() }}€
                            </div>
                            <div class="col" style="color: #0b2e13;">
                                {% if session.getAmount() > 0 %}
                                    {{ displayBtnInvoice(session,app.user) }}
                                {% endif %}

                                {% if session.getAmountRefound() > 0 %}
                                    {{ displayBtnInvoiceRefund(session,app.user) }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>