{% extends 'base.dashbord.register.html.twig' %}


{% block formulaire %}
<div class="p-3 form-registrer">
    {{ form_start(registrationForm) }}
        <div class="form-group row">
            <div class="col-12">
                {{ form_row(registrationForm.civility, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                {{ form_row(registrationForm.username, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                {{ form_row(registrationForm.name, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                {{ form_row(registrationForm.lastname, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                {{ form_row(registrationForm.plainPassword, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                {{ form_row(registrationForm.agreeTerms, { 'attr': {'class': 'custom-control-inputx'} }) }}
            </div>
        </div>
        <div class="form-group text-center row m-t-20">
            <div class="col-12">
                <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">S'enregistrer</button>
            </div>
        </div>
        <div class="form-group m-t-10 mb-0 row">
            <div class="col-12 m-t-20 text-center">
                <a href="{{ path('fos_user_security_login') }}" class="text-muted">Vous possedez déjà un compte?</a>
            </div>
        </div>
    {{ form_end(registrationForm) }}
</div>

<style>
    ul {
        display: flex;
        padding: 0;
    }
    ul li {
        color: #ff5560;
        background-color: #ffe4e6;
        border: 0;
        width: 100%;
        padding: .75rem 1.25rem;
        list-style-type: none;
    }
</style>


{% endblock %}
