{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}

    <!-- begin messagerie -->
    <div class="container">
        <h3 class=" text-center">Messagerie</h3>
        <div class="messaging bg-white">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Recent</h4>
                        </div>
                        <div class="srch_bar">
                            <div class="stylish-input-group">
                                <input id="search" type="text" class="search-bar" placeholder="Search">
                                <div id="myDropdown" class="dropdown-content">
                                    <!--
                                        <a href="#about">About</a>
                                        <a href="#base">Base</a>
                                        <a href="#blog">Blog</a>
                                        <a href="#contact">Contact</a>
                                        <a href="#custom">Custom</a>
                                        <a href="#support">Support</a>
                                        <a href="#tools">Tools</a>
                                        -->
                                </div>
                                <span class="input-group-addon">
                                    <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="scrollChat" class="inbox_chat">
                        <!-- liste group -->
                    </div>
                </div>
                <div class="mesgs">
                    <div userCurrent={{ app.user.id }} id='historyChat' class="msg_history">
                        <!--
                          <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="received_msg">
                              <div class="received_withd_msg">
                                <p>Test which is a new approach to have all
                                  solutions</p>
                                <span class="time_date"> 11:01 AM    |    June 9</span></div>
                            </div>
                          </div>
                          <div class="outgoing_msg">
                            <div class="sent_msg">
                              <p>Test which is a new approach to have all
                                solutions</p>
                              <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                          </div>
                          -->

                    </div>
                    <div id="spinnerSendMessage" class="spinner-border text-primary" role="status">
                        <span class="sr-only">Chargement...</span>
                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write bg-gray">
                            <input id="message" type="text" class="write_msg" placeholder="Type a message" />
                            <button id="btnMsg" idgroup="0" class="msg_send_btn" type="button">
                                <i class="fa fa-reply" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center top_spac"> Design by <a target="_blank" href="#">Paques</a></p>
        </div>
    </div>
    <!-- end messagerie -->



{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ absolute_url('/homepage/css/messagerie.css') }}" rel="stylesheet">
{% endblock %}

{% block customJavascripts %}
    <script src="{{ asset('js/listegroup.js') }}"></script>
    <script src="{{ asset('js/chatSearchUser.js') }}"></script>
    <script src="{{ asset('js/ngroup.js') }}"></script>
    <script src="{{ asset('js/chat.js') }}"></script>
    <script src="{{ asset('js/chatRefresh.js') }}"></script>
{% endblock %}