{% extends 'base.html.twig' %}

{% block title %}Edition profil {% endblock %}


{% block body %}
    {% include '/common/flash-messages.html.twig' with {'section': 'tt'} %}

    <div class="container-fluid bg-white">
        <div class="container pb-4">
            <div class="col-xs-12 col-sm-12 pt-5">
                <div>
                    {{ wo_render_breadcrumbs() }}
                </div>
                {% for label, messages in app.flashes(['success', 'error']) %}
                    {% for message in messages %}
                        <div class="flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <blockquote class="blockquote mt-4">
                    <p class="mb-0">Accédez à tous vos échanges, intéragissez avec toute la communauté.</p>
                </blockquote>

                <div class="row pt-2 container" id="box-pressions">


                    <div class="card m-2 d-inline-block sent" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"><span class="badge badge-light">{{ totalSent }}</span> Propositions envoyées</h5>
                            <p class="card-text">Accédez à toutes les propositions que vous avez envoyées aux autres utilisateurs</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center"><i class="fas fa-file-import fa-3x"></i></li>
                        </ul>
                        <div class="card-body">
                            <a href="{{ path('pre-sessions.listing', {'category':'sent'}) }}" class="card-link">
                                <button type="button" class="btn btn-primary bg-blue w-100">Accéder</button>
                            </a>
                        </div>
                    </div>

                    <div class="card m-2 received" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"><span class="badge badge-light">{{ totalReceived }}</span> Propositions reçues</h5>
                            <p class="card-text">Accédez à toutes les propositions que vous avez reçues des autres utilisateurs</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item  text-center"><i class="fas fa-hands fa-3x"></i></li>
                        </ul>
                        <div class="card-body">
                            <a href="{{ path('pre-sessions.listing', {'category':'received'}) }}" class="card-link">
                                <button type="button" class="btn btn-primary bg-blue w-100">Accéder</button>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>



{% endblock %}