{% extends 'base.html.twig' %}

{% block title %}Gestion des sessions{% endblock %}

{% block body %}
    {% include '/common/flash-messages.html.twig' %}

    <div class="container-fluid bg-white">
        <div class="container pb-4">
            <div class="col-xs-12 col-sm-12 pt-5">
                <div>
                    {{ wo_render_breadcrumbs() }}
                </div>

                <div class="alert alert-success mt-3 text-center container-fluid" role="alert">
                    <h3>Formulaire de paiement de session</h3>
                </div>

                <div class="">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="999"><h4 class="text-center">Résumé du paiement</h4></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mentor</td>
                                <td>{{ preSession.getMentor().getName() }}</td>
                            </tr>
                            <tr>
                                <td>Mentore</td>
                                <td>{{ preSession.getMentore().getName() }}</td>
                            </tr>
                            <tr>
                                <td>Objectif</td>
                                <td>{{ preSession.getObjectif().getName() }}</td>
                            </tr>
                            <tr>
                                <td>Expérience</td>
                                <td>{{ preSession.getCompetence.getName() }}</td>
                            </tr>
                            <tr>
                                <td>Montant horaire à régler aujourd'hui</td>
                                <td>{{ preSession.getObjectif().getPrice() }} €</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="cell example example3 p-5 container-fluid" id="example-3">
                    <form name="payment" id="paymentForm" action="{{ path('sessions.payment.submit', {'id': preSession.getId(), 'type': app.request.get("type") }) }}" method="post">
                        <div class="fieldset">
                            <input name="name"  id="example3-name" data-tid="elements_examples.form.name_label" class="field" type="text" placeholder="Nom du titulaire de la carte*" required="" autocomplete="name" value="">
                        </div>
                        <div class="fieldset">
                            <div id="example3-card-number" class="field empty StripeElement"></div>
                            <div id="example3-card-expiry" class="field empty half-width StripeElement"><div class="__PrivateStripeElement" style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;">
                                <iframe frameborder="0" allowtransparency="true" scrolling="no" name="__privateStripeFrame15" allowpaymentrequest="true" src="https://js.stripe.com/v3/elements-inner-card-55ed3cf1672adbfd10334bb4b0ce17d5.html#style[base][color]=%23fff&amp;style[base][fontWeight]=600&amp;style[base][fontFamily]=Quicksand%2C+Open+Sans%2C+Segoe+UI%2C+sans-serif&amp;style[base][fontSize]=16px&amp;style[base][fontSmoothing]=antialiased&amp;style[base][:focus][color]=%23424770&amp;style[base][::placeholder][color]=%239BACC8&amp;style[base][:focus::placeholder][color]=%23CFD7DF&amp;style[invalid][color]=%23fff&amp;style[invalid][:focus][color]=%23FA755A&amp;style[invalid][::placeholder][color]=%23FFCCA5&amp;locale=home&amp;componentName=cardExpiry&amp;wait=true&amp;rtl=false&amp;keyMode=test&amp;apiKey=pk_test_6pRNASCoBOKtIshFeQd4XMUh&amp;origin=&amp;referrer=file%3A%2F%2F%2Fhome%2Fckanza%2FBureau%2Felements-examples-master%2Findex.html&amp;controllerId=__privateStripeController1" title="Secure payment input frame" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; user-select: none !important; height: 19.2px;"></iframe><input class="__PrivateStripeElement-input" aria-hidden="true" aria-label=" " autocomplete="false" maxlength="1" style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;"></div>
                            </div>
                            <div id="example3-card-cvc" class="field empty half-width StripeElement">
                                <div class="__PrivateStripeElement" style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;">
                                    <iframe frameborder="0" allowtransparency="true" scrolling="no" name="__privateStripeFrame16" allowpaymentrequest="true" src="https://js.stripe.com/v3/elements-inner-card-55ed3cf1672adbfd10334bb4b0ce17d5.html#style[base][color]=%23fff&amp;style[base][fontWeight]=600&amp;style[base][fontFamily]=Quicksand%2C+Open+Sans%2C+Segoe+UI%2C+sans-serif&amp;style[base][fontSize]=16px&amp;style[base][fontSmoothing]=antialiased&amp;style[base][:focus][color]=%23424770&amp;style[base][::placeholder][color]=%239BACC8&amp;style[base][:focus::placeholder][color]=%23CFD7DF&amp;style[invalid][color]=%23fff&amp;style[invalid][:focus][color]=%23FA755A&amp;style[invalid][::placeholder][color]=%23FFCCA5&amp;locale=home&amp;componentName=cardCvc&amp;wait=true&amp;rtl=false&amp;keyMode=test&amp;apiKey=pk_test_6pRNASCoBOKtIshFeQd4XMUh&amp;origin=&amp;referrer=file%3A%2F%2F%2Fhome%2Fckanza%2FBureau%2Felements-examples-master%2Findex.html&amp;controllerId=__privateStripeController1" title="Secure payment input frame" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; user-select: none !important; height: 19.2px;"></iframe><input class="__PrivateStripeElement-input" aria-hidden="true" aria-label=" " autocomplete="false" maxlength="1" style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;">
                                </div>
                            </div>
                            {# <input id="example3-zip" data-tid="elements_examples.form.postal_code_placeholder" class="field empty third-width" placeholder="94107">#}
                        </div>

                        <button type="button" id="card-button" data-tid="elements_examples.form.pay_button">Valider le paiement de {{ preSession.getObjectif().getPrice() }} €</button>
                        <input type="hidden" name="presessionId" value="{{ preSession.getId() }}">
                        <input type="hidden" name="sessionId" value="{{ session.getId() }}">
                        <input type="hidden" name="paymentMethodId" id="paymentMethodId" value="" />

                        <div class="error pt-4 text-center" role="alert">
                            <span class="message" id="errorMessage"></span>
                        </div>
                    </form>
                </div>

                <div class="row mt-5 alert alert-warning" role="alert">
                    Attention! L'application débitera la somme 24h avant le déroulement de chaque prestation. <br />
                    Ainsi une prestation prévue pour 03 janvier à 12h00 2020, réglée le 1er janvier 2020 à 14h00, sera débitée le 02 janvier
                    à 12h00, soit 24h avant la date de prestation prévue!
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ absolute_url('/homepage-child/css/stripe.css') }}" rel="stylesheet">
{% endblock %}

{% block customJavascripts %}
    <script src="http://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('pk_test_295Ozc1q3CtE3CMFJDIfNYtF00dVvfQVOZ');
    </script>
    <script src="{{ absolute_url('/homepage-child/js/payment.js') }}"></script>
{% endblock %}