{% extends 'base.html.twig' %}

{% block title %}Gestion des sessions{% endblock %}

{% block body %}
    {% include '/common/flash-messages.html.twig' %}

    <div class="container-fluid bg-white">
        <div class="container pb-4">
            <div class="col-xs-12 col-sm-12 pt-5">
                <div>
                    {{ wo_render_breadcrumbs() }}
                </div>

                <div class="alert alert-primary mt-3 text-center" role="alert">
                    <h3>Détails de la session du {{ session.getProposedDate()|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') }}</h3>
                </div>

                <div class="rowx">
                    {% if session.getPresession().getObjectif().getUser().getId() == app.getUser().getId() %}
                        {% if session.getStatus().value == getStatusConstant('STATUS_ATTENTE_PAIEMENT_MENTORE') or session.getStatus().value == getStatusConstant('STATUS_VALIDE') %}
                            <button class="btn bg-success mt-1" type="button">
                                <a class="text-color-white" href="{{ path('sessions.payment', {
                                    'id': preSession.getId(),
                                    'sessionId': session.getId(),
                                    'type': app.request.get("type")
                                }) }}">
                                    <i class="fas fa-shopping-cart"></i> Procéder au paiement
                                </a>
                            </button>
                        {% endif %}
                    {% endif %}

                    {% if session.getStatus().value == getStatusConstant('STATUS_ATTENTE_PAIEMENT_MENTORE') or session.getStatus().value == getStatusConstant('STATUS_VALIDE') %}
                        <a class="text-color-white" href="javascript:void(0);">
                            <button class="btn bg-danger mt-1" type="button" data-toggle="modal" data-target="#cancelModal">
                                <i class="fas fa-power-off"></i> Annuler la session
                            </button>
                        </a>
                        {% include '/account-presessions/sections/modalActionSession/cancelModal.html.twig'  with {
                            'preSession' : preSession,
                            'session' : session
                        }%}
                    {% endif %}

                    {% if session.getStatus().value == getStatusConstant('STATUS_PAIEMENT_VALIDE') %}
                        <a class="text-color-white" href="javascript:void(0);">
                            <button class="btn bg-danger mt-1" type="button" data-toggle="modal" data-target="#cancelTooLateModal">
                                <i class="fas fa-check-circle"></i> Annuler tardivement la session
                            </button>
                        </a>
                        {% include '/account-presessions/sections/modalActionSession/cancelTooLateModal.html.twig'  with {
                            'preSession' : preSession,
                            'session' : session
                        }%}
                    {% endif %}

                    {% if session.getStatus().value == getStatusConstant('STATUS_DEMANDE_ANNULATION') and app.user.id != session.cancelTooLateBy().getId() %}
                        <a class="text-color-white" href="javascript:void(0);">
                            <button class="btn bg-danger mt-1" type="button" data-toggle="modal" data-target="#cancelTooLateResponseModal">
                                <i class="fas fa-check-circle"></i> Répondre à la demande d'annulation
                            </button>
                        </a>
                        {% include '/account-presessions/sections/modalActionSession/cancelTooLateResponseModal.html.twig'  with {
                            'preSession' : preSession,
                            'session' : session
                        }%}
                    {% endif %}

                    {% if session.getStatus().value != getStatusConstant('STATUS_SESSION_TERMINEE') %}
                        <a class="text-color-white" href="javascript:void(0);">
                            <button class="btn bg-success mt-2" type="button" data-toggle="modal" data-target="#endModal">
                                <i class="fas fa-check-circle"></i> Terminer la session
                            </button>
                        </a>
                        {% include '/account-presessions/sections/modalActionSession/endModal.html.twig'  with {
                            'preSession' : preSession,
                            'session' : session
                        }%}
                    {% endif %}

                </div>

                <div class="pt-2">
                    {% if session.getAmount() > 0 %}
                        {{ displayBtnInvoice(session,app.user) }}
                    {% endif %}

                    {% if session.getAmountRefound() > 0 %}
                        {{ displayBtnInvoiceRefund(session,app.user) }}
                    {% endif %}
                </div>

                <table class="table table-hover mt-4 text-left">
                    <tr>
                        <td class="text-center"> <h3>Statut actuel : {{ session.getStatus().getName() }}</h3></td>
                    </tr>
                    <tr>
                        <td class="text-left themed-grid-col">Date de session : {{ session.getProposedDate()|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') }}</td>
                    </tr>

                    <tr>
                        <td class="text-right">Lieu de la session : {{ session.getLocation() }}</td>
                    </tr>

                    <tr>
                        <td class="text-left themed-grid-col">Consignes particulières : {{ session.getDescription() }}</td>
                    </tr>

                    {% if session.getPaymentIntentDate() %}
                        <tr class="bg-blue">
                            <td class="text-center font-weight-bold">Paiement effectué le {{ session.getPaymentIntentDate().format('d-m-Y à H:i') }}</td>
                        </tr>
                    {% endif %}

                    {% if session.getStatus().value == getStatusConstant('STATUS_ATTENTE_VALIDATION') %}
                        <tr class="bg-blue">
                            <td class="text-center font-weight-bold">{{ session.getStatus().getName() }} par la Plateforme <i class="fas fa-spinner"></i></td>
                        </tr>
                    {% endif %}

                    {% if session.getStatus().value == getStatusConstant('STATUS_PAIEMENT_REFUSE') %}
                        <tr class="bg-danger text-color-white">
                            <td class="text-center font-weight-bold">{{ session.getStatus().getName() }} par la Plateforme <i class="fas fa-warning"></i></td>
                        </tr>
                    {% endif %}

                    {% if session.getStatus().value == getStatusConstant('STATUS_SESSION_TERMINEE') %}
                        <tr class="bg-success text-color-white">
                            <td class="text-center font-weight-bold">{{ session.getStatus().getName() }} <i class="fas fa-check"></i></td>
                        </tr>
                    {% endif %}

                    {% if session.getStatus().value == getStatusConstant('STATUS_ANNULE') %}
                        <tr class="bg-danger text-color-white">
                            <td class="text-center font-weight-bold">{{ session.getStatus().getName() }} <i class="fas fa-warning"></i></td>
                        </tr>
                    {% endif %}

                    {% if session.getStatus().value == getStatusConstant('STATUS_PAIEMENT_EN_ATTENTE_ACCEPTATION') %}
                        <tr class="bg-blue">
                            <td class="text-center font-weight-bold">{{ session.getStatus().getName() }} <i class="fas fa-warning"></i></td>
                        </tr>
                    {% endif %}

                    {% if session.getPaymentDate() %}
                    <tr class="bg-blue">
                        <td class="text-center font-weight-bold">Paiement validé sur la plateforme le {{ session.getPaymentDate().format('d-m-Y à H:i') }}<i class="fas fa-warning"></i></td>
                    </tr>
                    {% endif %}

                    {% if session.getcancelTooLateDate() %}
                        <tr class="bg-blue">
                            <td class="text-center font-weight-bold">
                                Demande d'annulation effectuée le {{ session.getcancelTooLateDate().format('d-m-Y à H:i') }} par {{ session.getCancelTooLateBy() }}
                                <i class="fas fa-warning"></i>
                            </td>
                        </tr>
                    {% endif %}

                    {% if session.cancelTooLatedAcceptedDate() %}
                        <tr class="bg-blue">
                            <td class="text-center font-weight-bold">
                                Demande d'annulation acceptée le {{ session.cancelTooLatedAcceptedDate().format('d-m-Y à H:i') }} par {{ session.cancelTooLatedAcceptedBy() }}
                                <i class="fas fa-warning"></i>
                            </td>
                        </tr>
                    {% endif %}

                    {% if session.cancelTooLatedRefusedDate() %}
                        <tr class="bg-blue">
                            <td class="text-center font-weight-bold">
                                Demande d'annulation refusée le {{ session.cancelTooLatedRefusedDate().format('d-m-Y à H:i') }} par {{ session.getCancelTooLatedRefusedBy() }}
                                <i class="fas fa-warning"></i>
                            </td>
                        </tr>
                    {% endif %}

                    {% if session.dateRefound() %}
                        <tr class="bg-blue">
                            <td class="text-center font-weight-bold">
                                Remboursement de {{ session.getAmountRefound() }}€ effectué le {{ session.dateRefound().format('d-m-Y à H:i') }} par la Plateforme
                                <i class="fas fa-warning"></i>
                            </td>
                        </tr>
                    {% endif %}

                </table>

                {#
                {% if session.getPaymentIntentDate() %}
                    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
                        <div class="toast-header">

                            <strong class="mr-auto">Paiement effectué</strong>
                            <small>{{  ago(session.getPaymentIntentDate())  }}</small>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="toast-body">
                            Paiement enregistré sur la plateforme le {{ session.getPaymentIntentDate().format('d-m-Y à H:i') }}
                        </div>
                    </div>
                {% endif %}
                #}

                {% if session.getReportMentorContent()	%}
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xs-1 col-sm-2 col-md-1 bold italic">
                                            <i class="fa fa-edit fa-2x"></i>
                                        </div>
                                        <div class="col-xs-8 col-sm-7 col-md-8">
                                            <p>Compte rendu du Mentor du : {{ session.getReportMentorDate().format('d-m-Y à H:i') }}</p>
                                            <p>
                                                <strong>{{ session.getReportMentorContent() }}</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if session.getReportMentoreContent()	%}
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xs-1 col-sm-2 col-md-1 bold italic">
                                            <i class="fa fa-edit fa-2x"></i>
                                        </div>
                                        <div class="col-xs-8 col-sm-7 col-md-8">
                                            <p>Compte rendu du Mentore du {{ session.getReportMentoreDate().format('d-m-Y à H:i') }}</p>
                                            <p>
                                                <b>{{ session.getReportMentoreContent() }}</b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block customJavascripts %}
    <script type="application/javascript">
        var option = null;
        $('.toast').toast('show');
    </script>
{% endblock %}
